<div class="me-float-menu">
  <div class="me-float-menu__nav">
    <div class="me-float-menu__item" data-collection="saves">
      <div class="me-float-menu__icon">
        <i class="material-icons">stars</i>
      </div>
      <div class="me-floa-menu__label">
        Salvos
      </div>
    </div>
    <div class="me-float-menu__item" data-collection="today-and-tomorrow">
      <div class="me-float-menu__icon">
        <i class="material-icons">today</i>
      </div>
      <div class="me-floa-menu__label">
        Hoje e amanhã
      </div>
    </div>
    <div class="me-float-menu__item" data-collection="follow">
      <div class="me-float-menu__icon">
        <i class="material-icons">add_box</i>
      </div>
      <div class="me-floa-menu__label">
        Tópicos seguidos
      </div>
    </div>
    <div class="me-float-menu__item" data-collection="user-personas">
      <div class="me-float-menu__icon">
        <i class="material-icons">how_to_reg</i>
      </div>
      <div class="me-floa-menu__label">
        Indicados para você
      </div>
    </div>
    <div class="me-float-menu__item" data-collection="cinema">
      <div class="me-float-menu__icon">
        <i class="material-icons">movie</i>
      </div>
      <div class="me-floa-menu__label">
        Nos cinemas
      </div>
    </div>
    <div class="me-float-menu__item" data-collection="street">
      <div class="me-float-menu__icon">
        <i class="material-icons">nature_people</i>
      </div>
      <div class="me-floa-menu__label">
        Na rua
      </div>
    </div>
    <div class="me-float-menu__item" data-collection="history">
      <div class="me-float-menu__icon">
        <i class="material-icons">history</i>
      </div>
      <div class="me-floa-menu__label">
        Histórico de visualizados
      </div>
    </div>
  </div>
</div>