<%
  return unless params['controller'] == 'feeds' && params['action'] == 'index'
%>

<div data-controller="float-menu" data-float-menu-target="menu" class="me-float-menu">
  <div class="me-float-menu__nav">
    <!--    <div class="me-float-menu__item" data-action="click->float-menu#scrollTo" data-collection-identifier="saves">-->
    <!--      <div class="me-float-menu__icon">-->
    <!--        <i class="material-icons">stars</i>-->
    <!--      </div>-->
    <!--      <div class="me-float-menu__label">-->
    <!--        Salvos-->
    <!--      </div>-->
    <!--    </div>-->
<!--    <div class="me-float-menu__item" data-target="float-menu.item" data-action="click->float-menu#scrollTo" data-collection-identifier="saves">-->
<!--      <div class="me-float-menu__icon">-->
<!--        <i class="material-icons">-->
<!--          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 62 62">-->
<!--            <defs/>-->
<!--            <path fill-rule="evenodd" d="M61.9999 31c0 17.1208-13.8791 30.9999-30.9999 30.9999C13.8792 61.9999 0 48.1208 0 31 0 13.8792 13.8792 0 31 0s30.9999 13.8792 30.9999 31zm-13.6836-7.8711c0 2.9426-2.3932 5.3281-5.3454 5.3281-2.9522 0-5.3454-2.3855-5.3454-5.3281s2.3932-5.3281 5.3454-5.3281c2.9522 0 5.3454 2.3855 5.3454 5.3281zm-23.8208 0c0 2.9426-2.3933 5.3281-5.3455 5.3281-2.9522 0-5.3454-2.3855-5.3454-5.3281s2.3932-5.3281 5.3454-5.3281c2.9522 0 5.3455 2.3855 5.3455 5.3281zm-6.5704 14.621c-3.032 1.5205-3.0313 1.5219-3.0306 1.5234l.0015.003.0034.0067.0079.0156.0205.0401c.0158.0305.0359.0687.0602.1141.0488.0907.1149.2103.1988.3546.1676.2882.4077.6775.7238 1.134.6292.9088 1.5775 2.1099 2.878 3.3139 2.6185 2.4243 6.7324 4.9088 12.4535 4.9088s9.835-2.4845 12.4535-4.9088c1.3005-1.204 2.2488-2.4051 2.878-3.3139.3161-.4565.5562-.8458.7238-1.134.0839-.1443.15-.2639.1988-.3546a8.407 8.407 0 00.0602-.1141l.0206-.0401.0078-.0156.0034-.0067.0015-.003c.0007-.0015.0015-.0029-3.0306-1.5234-3.032-1.5206-3.0313-1.5219-3.0306-1.5233l.0012-.0025.0023-.0045.0035-.0069.0028-.0056a5.1948 5.1948 0 01-.0971.1739c-.0873.1501-.2322.3869-.4363.6817-.4112.5939-1.0443 1.3964-1.9079 2.1959-1.7095 1.5827-4.2541 3.1054-7.8549 3.1054-3.6008 0-6.1454-1.5227-7.8549-3.1054-.8636-.7995-1.4967-1.602-1.9079-2.1959a10.3959 10.3959 0 01-.4362-.6817 5.039 5.039 0 01-.0867-.1541c-.0072-.0133-.0107-.0201-.0106-.0199l.0029.0057.0035.0069.0023.0045.0012.0025c.0007.0014.0014.0027-3.0306 1.5233z" clip-rule="evenodd"/>-->
<!--          </svg>-->
<!--        </i>-->
<!--      </div>-->
<!--      <div class="me-float-menu__label">-->
<!--        Salvos-->
<!--      </div>-->
<!--    </div>-->
<div class="me-float-menu__item" data-float-menu-target="item" data-action="click->float-menu#scrollTo" data-collection-identifier="this-week">
  <div class="me-float-menu__icon">
    <i class="material-icons">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"/>
      </svg>
    </i>
  </div>
  <div class="me-float-menu__label">
    Esta semana
  </div>
</div>
    <div class="me-float-menu__item" data-float-menu-target="item" data-action="click->float-menu#scrollTo" data-collection-identifier="new-today">
      <div class="me-float-menu__icon">
        <i class="material-icons">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M23 12l-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12zm-10 5h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg>
        </i>
      </div>
      <div class="me-float-menu__label">
        Eventos novos
      </div>
    </div>
    <div class="me-float-menu__item" data-float-menu-target="item" data-action="click->float-menu#scrollTo" data-collection-identifier="user-suggestions">
      <div class="me-float-menu__icon">
        <i class="material-icons">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0V0z"/>
            <path d="M12 20l-.86-.86c-1.18-1.18-1.17-3.1.02-4.26l.84-.82c-.39-.04-.68-.06-1-.06-2.67 0-8 1.34-8 4v2h9zm-1-8c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4"/>
            <path d="M16.18 19.78c-.39.39-1.03.39-1.42 0l-2.07-2.09c-.38-.39-.38-1.01 0-1.39l.01-.01c.39-.39 1.02-.39 1.4 0l1.37 1.37 4.43-4.46c.39-.39 1.02-.39 1.41 0l.01.01c.38.39.38 1.01 0 1.39l-5.14 5.18z"/>
          </svg>
        </i>
      </div>
      <div class="me-float-menu__label">
        Indicados para você
      </div>
    </div>
    <div class="me-float-menu__item" data-float-menu-target="item" data-action="click->float-menu#scrollTo" data-collection-identifier="follow">
      <div class="me-float-menu__icon">
        <i class="material-icons">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0V0z"/>
            <path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-3 10h-3v3c0 .55-.45 1-1 1s-1-.45-1-1v-3H8c-.55 0-1-.45-1-1s.45-1 1-1h3V8c0-.55.45-1 1-1s1 .45 1 1v3h3c.55 0 1 .45 1 1s-.45 1-1 1z"/>
          </svg>
        </i>
      </div>
      <div class="me-float-menu__label">
        Tópicos seguidos
      </div>
    </div>
    <div onclick="Turbolinks.visit('/porto-alegre/eventos')" class="me-float-menu__item" data-float-menu-target="item" data-action="click->float-menu#scrollTo" data-collection-identifier="explorer" style="display: flex; opacity: 1">
      <div class="me-float-menu__icon">
        <i class="material-icons">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0V0z"/>
            <path d="M12 10.9c-.61 0-1.1.49-1.1 1.1s.49 1.1 1.1 1.1c.61 0 1.1-.49 1.1-1.1s-.49-1.1-1.1-1.1zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm2.19 12.19L6 18l3.81-8.19L18 6l-3.81 8.19z"/>
          </svg>
        </i>
      </div>
      <div class="me-float-menu__label">
        Explorar tudo
      </div>
    </div>
    <div class="me-float-menu__item" data-float-menu-target="item" data-action="click->float-menu#scrollTo" data-collection-identifier="history">
      <div class="me-float-menu__icon">
        <i class="material-icons">history</i>
      </div>
      <div class="me-float-menu__label">
        Histórico de visualizados
      </div>
    </div>
  </div>
</div>
