
<% content_for :canonical_url, category_events_url %>
<% content_for :amp_url, category_events_url(format: :amp) %>

<% content_for :meta_title, params[:category] ? "Eventos de #{params[:category].capitalize} em Porto Alegre - RS" : "Eventos de todas as categorias em Porto Alegre - RS" %>
<% content_for :meta_description, params[:category] ? "Descubra eventos de #{params[:category]} que acontecem hoje e outros dias do mês em Porto Alegre - RS" : "Descubra eventos de todas as categorias que acontecem hoje e outros dias do mês em Porto Alegre - RS" %>

<% content_for :top_app_bar_title, params[:category].titleize %>
<% content_for :back_button, true %>

	<script type="application/ld+json">
  [<%= render partial: 'layouts/json_ld', collection: @events, as: :event %>]
	</script>

<section class="min-h-screen is-animated">
	<%= notice %>

	<section data-controller="page" data-page-target="page" class="pt-2 mx-auto mb-24 space-y-2 bg-gray-50 is-animated lg:w-9/12 sm:container">
		<%= render partial: 'events/group_by_day_list', locals: {
				events: @events,
				user:   current_user
		} %>
	</section>

</section>
