<section class="me-page me-page--profile__section is-animated">

  <%= notice %>

  <% content_for :meta_title, "Eventos de tópicos que você segue" %>

  <%= render partial: "components/collection/collection", locals: { data: @data, props: {infinite_scroll: true} } %>

</section>
