<section class="me-page  is-animated">

  <%= notice %>

  <% content_for :meta_title, "Eventos de tópicos que você segue" %>

  <section class="me-section">
    <section class="me-section__inner">
      <%= render partial: "components/collection/collection", locals: { data: @data, props: {infinite_scroll: true} } %>
    </section>
  </section>

</section>
