<%#= render partial: "feeds/float_menu" unless mobile_device? %>

<section data-controller="page" data-target="page.page" class="pt-2 mx-auto mb-24 space-y-2 bg-gray-50 is-animated lg:w-9/12 md:mt-40 sm:container">
	<%# if current_user && current_user.notifications_topics_all_requested == false %>
	<!-- <div class="me-section">
      <div class="me-section__inner">
        <div class="me-notification" data-controller="notification" data-notification-active="<%= current_user&.notifications_topics_all_active %>">
          <div class="me-switch mdc-switch" data-target="notification.switch">
            <div class="mdc-switch__track"></div>
            <div class="mdc-switch__thumb-underlay">
              <div class="mdc-switch__thumb">
                <input data-target="notification.input" data-action="change->notification#change" type="checkbox" <%= 'checked' if current_user&.notifications_topics_all_active %> id="another-basic-switch" class="mdc-switch__native-control" role="switch">
              </div>
            </div>
          </div>
          <label for="another-basic-switch" data-target="notification.label">Notificações
            <span>Receba até 1 notificação por dia para avisar sobre seus eventos agendados e novos eventos que podem te interessar.</span>
          </label>
        </div>
      </div>
    </div> -->
	<%# end %>



	<%# if @recent_events.size > 0 %>
	<!--		<div data-controller="ripple" class="relative flex px-2 py-3 mx-5 -mb-10 overflow-hidden text-xs text-gray-600 border rounded-lg shadow-sm md:border-0 md:mx-0 md:shadow-none ripple ripple-black">-->
	<%#= link_to (@recent_events.size > 1 ? "Foram adicionados #{@recent_events.size} eventos nas últimas 24 horas!" : "Foi adicionado um evento nas últimas 24 horas!"), recent_events_path %>
	<!--		</div>-->
	<%# end %>

	<%# cache([current_user, 'swipable-events', @swipable_items.pluck(:id)]) do %>
	<%= render partial: 'feeds/hero', locals: {
			user:             current_user,
			train_events:     @train_events,
			selected_tab:     @selected_tab,
			suggested_events: @suggested_events
	} %>
	<%# end %>


	<%= render partial: 'events/group_by_day_list', locals: {
			events: @upcoming_events,
			user:   current_user
	} %>


	<%# if mobile_device? && current_user %>
	<!--		<div data-controller="button ripple" data-target="button.button" class="relative px-6 py-4 mx-auto overflow-hidden text-lg font-semibold text-center text-white bg-green-500 rounded-full shadow-md select-none ripple ripple-white w-content" onclick="location.assign('/porto-alegre/eventos')">-->
	<!--			Explorar todos os eventos-->
	<!--		</div>-->
	<%# end %>

</section>
