<section class="me-page  is-animated">

  <%= notice %>

  <% content_for :meta_title, "Eventos adicionados nas últimas 24h" %>

  <section class="me-section">
    <section class="me-section__inner">
      <%= render partial: "components/collection/events/collection", locals: { collection: @collection, props: {infinite_scroll: true} } %>
    </section>
  </section>

</section>
