<section class="mt-32 min-h-screen is-animated">

	<%= notice %>

	<% content_for :meta_title, "Eventos sugeridos para #{current_user.first_name}" %>

	<div class="md:w-9/12 mx-auto">
		<%= render partial: "components/collection/events/collection",
							 locals: {
									 identifier:       'user-suggestions',
									 user:             current_user,
									 items:            @events.limit(session[:stimulus][:limit]),
									 total_count:      @events.size,
									 title:            {
											 principal: "Indicados para #{current_user.first_name}",
											 secondary: "Explore os eventos que indicamos com base no seu gosto pessoal"
									 },
									 infinite_scroll_vertical:  true,
									 display_if_empty: true,
									 show_similar_to:  session[:stimulus][:show_similar_to],
									 html: {
											 grid: {
													 css: 'md:gap-5 md:grid md:grid-cols-4 md:grid-flow-row md:overflow-x-visible md:pl-0 md:gap-y-16 md:space-y-0 pb-2 px-5 space-y-5'
											 }
									 }
							 } %>
	</div>

</section>
