<section class="is-animated md:mt-32 min-h-screen mt-20">

	<% content_for :canonical_url, week_events_url %>
	<% content_for :amp_url, week_events_url(format: :amp) %>

	<%= notice %>

	<% content_for :meta_title, "Eventos em Porto Alegre esta semana - (#{I18n.l(Date.today, format: :short)}) até #{I18n.l(Date.today + 6, format: :week)} (#{I18n.l(Date.today + 6, format: :short)})" %>
	<% content_for :meta_description, "Descubra as festas, shows, feiras, teatros, palestras, festivais, exposições e filmes que acontecem esta semana (#{I18n.l(Date.today, format: :short)}) até #{I18n.l(Date.today + 6, format: :week)} (#{I18n.l(Date.today + 6, format: :short)})." %>

	<script type="application/ld+json">
  	[<%= render partial: 'layouts/json_ld', collection: @events, as: :event %>]
	</script>

	<section class="md:w-9/12 mx-auto">
		<%= render partial: "components/collection/events/collection",
							 locals:  {
									 identifier:       'this-week',
									 user:             current_user,
									 items:            @events.limit(session[:stimulus][:limit]),
									 total_count:      @events.size,
									 title:            {
											 principal: current_user ? "Acontecendo esta semana" : "Eventos acontecendo esta semana em Porto Alegre",
											 secondary: "Explore os #{@events.size} eventos que ocorrem hoje (#{I18n.l(Date.today, format: :short)}) até #{I18n.l(Date.today + 6, format: :week)} (#{I18n.l(Date.today + 6, format: :short)}) em Porto Alegre - RS"
									 },
									 infinite_scroll_vertical:  true,
									 display_if_empty: true,
									 show_similar_to:  session[:stimulus][:show_similar_to],
									 html: {
											 grid: {
													 css: 'md:gap-5 md:grid md:grid-cols-4 md:grid-flow-row md:overflow-x-visible md:pl-0 md:row-gap-16 md:space-y-0 pb-2 px-5 space-y-5'
											 }
									 }
							 } %>
	</section>


</section>
