

.bot{
  max-width: 600px;
  margin: auto;
  width: calc(100% - 100px);
  position: relative;
}

.bot__container {
  margin: 6px 12px 6px 52px;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  @include mobile-only {
    margin: 6px 0 6px 36px;
  }
}

.bot__message {
  border-radius: 25px;
  color: $font-primary-color;
  display: inline-block;
  padding: 15px;
  position: relative;
  background: whitesmoke;
  &.is-human {
    background: $border-color;
  }
}

.bot__container:not(.no-icon)::before {
  //content: "";
  //position: absolute;
  //left: -4px;
  //bottom: -4px;
  //height: 0;
  //border-style: solid;
  //border-width: 20px 20px 10px 0;
  //border-color: rgba(255, 255, 255, 0) #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  //transform: rotate(-30deg)
}

.bot__container:not(.no-icon)::after {
  @apply bg-gray-200;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  content: "A";
  display: flex;
  font-size: 16px;
  font-family: $font-primary-family;
  font-weight: 600;
  line-height: 0;
  position: absolute;
  right: calc(100% + 15px);
  top: 6px;
  height: 36px;
  width: 36px
}

.bot__container.is-human {
  display: flex;
  justify-content: flex-end;
  opacity: .85
}

.bot__container.is-human:not(.no-icon)::before {
  left: auto;
  right: 5px
}

.bot__container.is-human:not(.no-icon)::after {
  content: "";
  left: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0)
}

.bot__message.fill-img {
  padding: 0;
  overflow: hidden;
  height: 200px
}

.bot__message.fill-img * {
  object-fit: cover;
  height: 100%;
  width: 100%
}

.bot__button {
  right: 0;
  position: absolute;
  //@include mdc-button-container-fill-color($brand-color);
  //@include mdc-button-ink-color($surface-color);
  font-family: $font-primary-family;
}
