@import "../variables";

.simple-calendar {
  @apply bg-white py-3 rounded-lg text-center shadow;

  @screen md {
      @apply bg-gray-50 m-2 py-3 rounded-lg text-center shadow;
  }

  th {
    @apply text-gray-400 text-sm font-medium;
  }

  table {
    @apply mx-auto w-11/12;
  }

  .calendar-heading {
    @apply capitalize flex items-center font-medium justify-between px-2 text-gray-500 -mt-3 py-2 rounded-t-lg;

    a {
      @apply text-green-500 font-bold text-lg;
    }
  }

  .day {
    text-align: center;
    height: 2.2rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .today {
    @apply bg-gray-50 rounded-full text-gray-600;

    @screen md {
      @apply bg-white;
    }
  }

  .past {
    @apply text-gray-200 line-through;
  }

  .future {
    @apply text-gray-500;
  }

  .has-events {

    & .day-of-month {
      @apply mt-1;
    }
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .start-date {
    @apply bg-green-100 rounded-full text-green-600;
  }

  .prev-month {
    @apply text-gray-200;
  }

  .current-month {}

}