

.me-chip-set {
  text-align: left;
  @include mobile-only {
    text-align: left;
    width: max-content;
    .me-section-head & {
      padding: 0 25px 0 15px;
    }
    [data-controller="search"][data-action="index"] & {
      width: auto;
    }
  }

  &__wrapper {
    @include mobile-only {
      overflow-x: scroll;
      margin: 0 0 6px 0;
    }
    &::-webkit-scrollbar{
      @include mobile-only {
        display: none;
      }
    }
    [data-controller="search"] & {
      padding: 0 16px;
    }
  }

  .me-section__description & {
    padding: 0;
    margin: 0 -4px;
  }

  .me-collection__title-custom & {
    padding: 0;
    @include mobile-only {
      padding: 0 24px 0 16px;
    }
  }

  .me-filter & {
    display: block;
    padding: 0;
    @include mobile-only {
      padding: 0 calc(#{$section-padding-phone} - 6px);
    }

    &::before {
      @include mobile-only {
        background: linear-gradient(270deg, white 10%, rgba(255, 255, 255, 0));
        position: absolute;
        z-index: 5;
        width: 40px;
        height: 40px;
        content: close-quote;
        right: 0;
        pointer-events: none;
      }
    }

    &[data-chip-target="chipset"] {
      & .mdc-chip {
        @include desktop-only {
          padding: 6px;
        }
      }
    }

    & .material-icons {
      vertical-align: middle;
      padding: 0 6px 0 0;
      color: $font-secondary-color;
      opacity: 0;
      transition: opacity 0.2s ease-in;
    }
  }

  &--small {
    & .mdc-chip {
      padding: 1px 8px;
      height: unset;

      & .material-icons {
        padding: 4px;
      }
    }
  }

  &--with-padding {
    padding: 0 24px 0 20px;
  }
}
