@import "../variables";

.simple-calendar {
  @apply bg-white py-3 rounded-lg text-center shadow mx-3 mb-5;

  @screen md {
    @apply border border-gray-200 py-3 rounded-lg text-center mx-0 mb-0;
    max-width: 306px;
  }

  tr {
    @screen md {
      @apply h-10;
    }
  }

  th {
    @apply text-gray-400 text-sm font-medium;
  }

  table {
    @apply mx-auto w-11/12;
  }

  .calendar-heading {
    @apply capitalize flex items-center font-medium justify-between px-5 text-gray-500 -mt-3 py-2 rounded-t-lg;

    @screen md {
      @apply px-2;
    }

    a {
      @apply text-green-500 font-bold text-lg;
    }
  }

  .day {
    @apply w-10;
    text-align: center;
    height: 2.2rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .today {
    @apply bg-gray-50 rounded-full text-gray-600;

    @screen md {
      @apply bg-gray-100;
    }
  }

  .past {
    @apply text-gray-200 line-through;
  }

  .future {
    @apply text-gray-500;
  }

  .has-events {

    & .day-of-month {

    }
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .start-date {
    @apply bg-green-500 rounded-full text-white font-semibold;
  }

  .prev-month {
    @apply text-gray-200;
  }

  .current-month {}

}