@import "../variables";
//@import "@material/top-app-bar/_mixins";

.me-filter {
  user-select: none;
  margin: 12px 0 0 0;
  @include mobile-only {
    margin: 12px 0 3px 0;
  }

  &:hover {
    & .mdc-chip-set .material-icons {
      opacity: 1;
    }
  }

  &__label {
    align-self: center;
    margin: 0 6px 0 0px;
    font-weight: 400;
  }

  &--grid2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 16px;
  }


  &--grid3 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 16px;
  }

}
