.me-login-buttons {
  color: red;

  &--divider {
    border-bottom: 1px solid #E1E1E1;
    margin: 0 0 12px 0;
    padding: 0 0 24px 0;

    &::before {
      content: "OU";
      position: relative;
      bottom: -154px;
      font-weight: 600;
      color: $border-color;
      left: calc(50% - 16px);
      background: $surface-color;
      padding: 0 6px;
    }
  }

  & .me-button, & .me-button:not(:disabled) {
    background: $surface-color;
    margin: 0 0 6px 0;
    display: flex;
    align-items: center;
    font-size: 16px;

    & svg {
      margin-right: 12px;
    }
  }

  & .me-button--gmail {
    color: #d44a3d;
    box-shadow: $surface-z10-box-shadow;
  }

  & .me-button--facebook {
    color: #4267b2;
    box-shadow: $surface-z10-box-shadow;
  }
}
