.me-see-all {
  font-size: 11px;
  display: none;
  align-items: center;
  justify-content: flex-end;
  color: $font-secondary-color;
  font-weight: 300;
  padding: 3px 6px 3px 8px;
  border-radius: 16px;
  @include mobile-only {
    //background: whitesmoke;
    font-size: 9px;
  }

  [data-controller="feeds"][data-action="index"] & {
    //@include mobile-only {
      display: flex;
    //}
  }

  & svg {
    fill: $border-color;
    margin-left: 3px;
  }
}
