
//@import "@material/tab-bar/mdc-tab-bar";
//@import "@material/tab-scroller/mdc-tab-scroller";
//@import "@material/tab-indicator/mdc-tab-indicator";
//@import "@material/tab/mdc-tab";

.me-tab-bar {
  //@include mdc-tab-bar-density(-1);
  background: $surface-color;
  display: block;
  width: auto;
  max-width: $page-width;
  position: sticky;
  top: 0;
  z-index: 5;
  margin: auto;
  @include desktop-only {
    z-index: 3;
    top: 64px;
  }
  @include mobile-only {
    //@include mdc-tab-bar-density(-1);
    top: 0;
  }

  & .mdc-tab {
    width: auto;
    //@include mdc-tab-states-color(#ffffff);
    // max-width: 100px;
    @include desktop-only {

    }
  }

  & .mdc-tab-scroller {
    @include desktop-only {
      width: max-content;
      //margin: auto;
    }
  }

  & .mdc-tab__text-label {
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 500;
    text-transform: none;
  }

  & .mdc-tab-indicator__content {
    max-width: 30px;
    border-top-width: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

}
