<!--suppress ALL -->

<table class="body"
       style="border-spacing:0;border-collapse:collapse;vertical-align:top;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;height:100%;width:100%;color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;font-size:16px;line-height:19px;margin-bottom:0 !important;background: white;">
  <tbody>
  <tr style="padding:0;vertical-align:top;text-align:left">
    <td class="center"
        align="center"
        valign="top"
        style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;vertical-align:top;color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;font-size:16px;line-height:19px;border-collapse:collapse !important">
      <center style="width:100%;min-width:580px">
        <!--[if mso]>
        <table class="container"
               width="580">
        <![endif]-->
        <!--[if !mso] -->
        <table class="container"
               style="border-spacing:0;border-collapse:collapse;padding:0;vertical-align:top;background:#fefefe;width:580px;margin:0 auto;text-align:inherit;max-width:580px;">
          <!-- <![endif]-->
          <tbody>
          <tr style="padding:0;vertical-align:top;text-align:left">
            <td style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;vertical-align:top;color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;font-size:16px;line-height:19px;border-collapse:collapse !important">
              <div>
                <table class="row"
                       style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0;width:100%;position:relative;display:table">
                  <tbody>
                  <tr class=""
                      style="padding:0;vertical-align:top;text-align:left">
                    <th class="columns first large-12 last small-12"
                        style="color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;text-align:left;font-size:16px;line-height:19px;margin:0 auto;width:564px;padding: 0 16px 16px;">
                      <a href="https://www.alegreme.com"
                         style="font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;line-height:1.3;color:#2199e8;text-decoration:none"
                         target="_blank">
                        <img align="center"
                             alt=""
                             class="center standard-header"
                             height="40"
                             src="<%= image_url "welcome/logo-icon@3x.png" %>"
                             style="outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;width:auto;max-width:100%;clear:both;display:block;border:none;padding-bottom:16px;padding-top:48px;max-height:40px">
                      </a>
                    </th>
                  </tr>
                  </tbody>
                </table>
              </div>
              <br>

              <div>
                <table class="row"
                       style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0;width:100%;position:relative;display:table">
                  <tbody>
                  <tr class=""
                      style="padding:0;vertical-align:top;text-align:left">
                    <th class="columns first large-12 last small-12"
                        style="color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;text-align:left;font-size:16px;line-height:19px;margin:0 auto;width:564px;padding: 0 16px 16px;">
                      <p class="headline headline-lg  heavy max-width-485"
                         style="padding:0;margin:0;text-align:left;font-family:Cereal, Helvetica, Helvetica, Arial, sans-serif;max-width:485px;font-weight:700;color:#484848;word-break:normal;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:32px;line-height:1.3;margin-bottom:0 !important;">
                        <%= @user.first_name ? "Oi #{@user.first_name}!" : 'Oi!' %>
                      </p>
                    </th>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <table class="row"
                       style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0;width:100%;position:relative;display:table">
                  <tbody>
                  <tr class=""
                      style="padding:0;vertical-align:top;text-align:left">
                    <th class="columns first large-12 last small-12"
                        style="color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;text-align:left;font-size:16px;line-height:19px;margin:0 auto;width:564px;padding: 0 16px 16px;">
                      <p class="body  body-lg  body-link-rausch light text-left   "
                         style="padding:0;margin:0;font-family:Cereal, Helvetica, Helvetica, Arial, sans-serif;font-weight:300;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;text-align:left;margin-bottom:0 !important;">
                        Lembra daquele convite para o Alegreme? Então, ele chegou 😃
                      </p>
                    </th>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <table class="row"
                       style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0;width:100%;position:relative;display:table">
                  <tbody>
                  <tr class=""
                      style="padding:0;vertical-align:top;text-align:left">
                    <th class="columns first large-12 last small-12"
                        style="color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;text-align:left;font-size:16px;line-height:19px;margin:0 auto;width:564px;padding: 0 16px 16px;">
                      <p class="body  body-lg  body-link-rausch light text-left   "
                         style="padding:0;margin:0;font-family:Cereal, Helvetica, Helvetica, Arial, sans-serif;font-weight:300;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;text-align:left;margin-bottom:0 !important;">
                        Você está recebendo acesso antecipado ao site e aplicativo que está em fase beta, ou seja, ainda em testes.
                      </p>
                    </th>
                  </tr>
                  </tbody>
                </table>
              </div>


              <div>
                <table class="row"
                       style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0;width:100%;position:relative;display:table">
                  <tbody>
                  <tr class=""
                      style="padding:0;vertical-align:top;text-align:left">
                    <th class="columns first large-12 last small-12"
                        style="color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;text-align:left;font-size:16px;line-height:19px;margin:0 auto;width:564px;padding: 0 16px 16px;">
                      <p class="body  body-lg  body-link-rausch light text-left   "
                         style="padding:0;margin:0;font-family:Cereal, Helvetica, Helvetica, Arial, sans-serif;font-weight:300;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;text-align:left;margin-bottom:0 !important;">
                        Para começar ao usar o Alegreme você tem duas opções:
                        <b>website</b> e <b>aplicativo android</b> (logo teremos para iOS).
                      </p>
                    </th>
                  </tr>
                  </tbody>
                </table>
              </div>

              <div>
                <table class="row"
                       style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0;width:100%;position:relative;display:table">
                  <tbody>
                  <tr class=""
                      style="padding:0;vertical-align:top;text-align:left">
                    <th class="columns first large-12 last small-12"
                        style="color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;text-align:left;font-size:16px;line-height:19px;margin:0 auto;width:564px;padding: 0 16px 16px;">

                      <% if @plataform == 'gmail' || @plataform == 'facebook' %>
                        <p class="body  body-lg  body-link-rausch light text-left"
                           style="padding:0;margin:0;font-family:Cereal, Helvetica, Helvetica, Arial, sans-serif;font-weight:300;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;text-align:left;margin-bottom:0 !important;">
                          Para começar usar agora você tem duas opções:
                        </p>
                        <blockquote>
                          A - Acessar <a href="https://www.alegreme.com"
                                         target="_blank"
                                         style="font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;line-height:1.3;text-decoration:none;color:#03994C;font-weight:300;"><b>www.alegreme.com</b></a> e entrar com seu
                          <b><%= @plataform %></b> <br><br>
                          B - <a href="https://play.google.com/apps/testing/com.alegreme.app"
                                 target="_blank"
                                 style="font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;line-height:1.3;text-decoration:none;color:#03994C;font-weight:300;"><b>Instalar o aplicativo</b></a> na Play Store.
                        </blockquote>
                      <% end %>

                      <% if @plataform == 'email' %>
                        <p class="body  body-lg  body-link-rausch light text-left"
                           style="padding:0;margin:0;font-family:Cereal, Helvetica, Helvetica, Arial, sans-serif;font-weight:300;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;text-align:left;margin-bottom:0 !important;">
                          Para começar usar você precisa seguir os passo abaixo (isto é necessário pois você não solicitou convite com gmail ou facebook):
                        </p>
                        <blockquote>
                          1 - <a href="<%= edit_user_password_url(reset_password_token: @token, active_invite: true) %>"
                                 target="_blank"
                                 style="font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;line-height:1.3;text-decoration:none;color:#03994C;font-weight:300;"><b>Criar uma senha</b></a>,
                          <br><br>
                          2 - Acessar o <a href="https://www.alegreme.com"
                                           target="_blank"
                                           style="font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;line-height:1.3;text-decoration:none;color:#03994C;font-weight:300;"><b>website</b></a> ou baixar o
                          <a href="https://play.google.com/apps/testing/com.alegreme.app"
                             target="_blank"
                             style="font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;line-height:1.3;text-decoration:none;color:#03994C;font-weight:300;"><b>baixar o aplicativo android na Play Store</b></a>.
                        </blockquote>
                      <% end %>

                      <p class="body  body-lg  body-link-rausch light text-left"
                         style="padding:0;margin:0;font-family:Cereal, Helvetica, Helvetica, Arial, sans-serif;font-weight:300;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;text-align:left;margin-bottom:0 !important;">
                        Qualquer problema ou sugestão, nos enviei um email, nós chame no instagram ou twitter.</p>
                    </th>
                  </tr>
                  </tbody>
                </table>
              </div>


              <div>
                <table class="row"
                       style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0;width:100%;position:relative;display:table">
                  <tbody>
                  <tr class=""
                      style="padding:0;vertical-align:top;text-align:left">
                    <th class="columns first large-12 last small-12"
                        style="color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;text-align:left;font-size:16px;line-height:19px;margin:0 auto;width:564px;padding: 0 16px 16px;">
                      <p class="body  body-lg  body-link-rausch light text-left   "
                         style="padding:0;margin:0;font-family:Cereal, Helvetica, Helvetica, Arial, sans-serif;font-weight:300;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;text-align:left;margin-bottom:0 !important;">
                        É isto. Até mais!</p>
                    </th>
                  </tr>
                  </tbody>
                </table>
              </div>

              <div>

                <br>
                <br>


                <table class="row"
                       style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0;width:100%;position:relative;display:table">
                  <tbody>
                  <tr class=""
                      style="padding:0;vertical-align:top;text-align:left">
                    <th class="columns first large-12 last small-12"
                        style="color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;text-align:left;font-size:16px;line-height:19px;margin:0 auto;width:564px;padding: 0 16px 16px;">
                      <p class="body-text-lg heavy row-pad-bot-1"
                         style="padding:0;margin:0;text-align:left;font-weight:700;font-family:Cereal, Helvetica, Helvetica, Arial, sans-serif;color:#484848;font-size:24px;line-height:1.2;word-break:normal;padding-bottom:8px !important;margin-bottom:0 !important">
                        Espalhe para os amigos </p>
                      <p class="body-text light"
                         style="padding:0;margin:0;text-align:left;font-weight:300;font-family:Cereal, Helvetica, Helvetica, Arial, sans-serif;color:#484848;font-size:18px;line-height:1.4;word-break:normal;margin-bottom:0 !important">
        <span>
          <a href="https://www.alegreme.com"
             class="color-rausch light"
             style="font-family:'Cereal', Helvetica, Arial, sans-serif;padding:0;margin:0;text-align:left;line-height:1.3;text-decoration:none;font-weight:300;color:#03994C !important"
             target="_blank">
alegreme.com          </a>
        </span>
                        <span class="dot"
                              style="font-size:8px;vertical-align:middle;padding-left:8px;padding-right:8px">
          <span class="color-rausch"
                style="color:#03994C !important">
             •
          </span>
        </span>
                        <span>
          <a href="https://www.instagram.com/portoalegreme/"
             class="color-rausch light"
             style="font-family:'Cereal', Helvetica, Arial, sans-serif;padding:0;margin:0;text-align:left;line-height:1.3;text-decoration:none;font-weight:300;color:#03994C !important"
             target="_blank">
instagram          </a>
        </span>
                        <span class="dot"
                              style="font-size:8px;vertical-align:middle;padding-left:8px;padding-right:8px">
          <span class="color-rausch"
                style="color:#03994C !important">
             •
          </span>
        </span>

                        <span>
          <a href="https://twitter.com/portoalegreme"
             class="color-rausch light"
             style="font-family:'Cereal', Helvetica, Arial, sans-serif;padding:0;margin:0;text-align:left;line-height:1.3;text-decoration:none;font-weight:300;color:#03994C !important"
             target="_blank">
twitter          </a>
        </span>
                      </p>
                    </th>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <table class="row"
                       style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0;width:100%;position:relative;display:table">
                  <tbody>
                  <tr class=""
                      style="padding:0;vertical-align:top;text-align:left">
                    <th class="columns first large-12 last small-12 standard-footer-padding"
                        style="color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;text-align:left;font-size:16px;line-height:19px;margin:0 auto;width:564px;padding: 0 16px 16px;">
                      <div class="">
                        <hr class="standard-footer-hr"
                            style="max-width:580px;clear:both;background-color:#dbdbdb;height:2px;width:100%;border: 0 none;border-bottom: 1px #cacaca;margin:auto">
                        <div class="row-pad-bot-4"
                             style="padding-bottom:32px">
                        </div>

                        <p class="standard-footer-text center "
                           style="padding:0;text-align:left;margin: 0 0 10px;font-family:Cereal, Helvetica, Helvetica, Arial, sans-serif;color:#9ca299;font-size:14px;text-shadow:0 1px #fff;font-weight:300;line-height:1.4">
                          Enviado com ♥ do Centro Histórico de Porto Alegre
                        </p>
                        <p class="standard-footer-text "
                           style="padding:0;text-align:left;margin: 0 0 10px;font-family:Cereal, Helvetica, Helvetica, Arial, sans-serif;color:#9ca299;font-size:14px;text-shadow:0 1px #fff;font-weight:300;line-height:1.4">alegreme.com</p>
                      </div>
                    </th>
                  </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </center>
    </td>
  </tr>
  </tbody>
</table>