<section class="invite <%= 'is-pwa' if pwa? %>">
	<div class="invite__cta-group">
		<%= link_to new_user_registration_path, data: {'gtm-action': 'click', 'gtm-category': 'Funil', 'gtm-label': 'Criar meu perfil'} do %>
			<div class="invite__cta">
				<div class="mdc-button__ripple"></div>
				Criar meu perfil
			</div>
		<% end %>
		<%= link_to new_user_session_path, data: {'gtm-action': 'click', 'gtm-category': 'Funil', 'gtm-label': 'Fazer login'} do %>
			<div class="invite__cta invite__cta--signin">
				<div class="mdc-button__ripple"></div>
				Entrar
			</div>
		<% end %>
	</div>
	<% unless pwa? %>
		<div class="invite__cta-group">
			<div class="invite__playstore-link">
				ou
				<a data-gtm-action="click" data-gtm-category="Funil" data-gtm-label="Baixa aplicativo" href="https://play.google.com/store/apps/details?id=com.alegreme.app&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">baixe
					o aplicativo</a> para android
			</div>
		</div>
	<% end %>
</section>