/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*
*/
@import 'tailwindcss/base';
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import '../stylesheets/variables';
@import '../stylesheets/mixins';
@import '../stylesheets/template';
@import '../stylesheets/utils';
@import '../stylesheets/components';

@import '../stylesheets/components/me-swipable';
@import '../stylesheets/components/me-bot';
@import '../stylesheets/components/me-calendar';

.turbo-progress-bar {
  height: 6px;
  background-color: $brand-color;
  box-shadow: 0 1px 5px $brand-color;
  // visibility: hidden;
  @include mobile-only {
    height: 3px;
    top: 0;
  }
}
