<div data-controller="bot" data-target="bot.bot" data-bot-already-open="false" class="me-bot">
	<div data-target="bot.start" data-action="click->bot#showBot" class="me-bot__start">
		<span>
			<i class="material-icons-sharp">sentiment_satisfied </i>
			Vamos descobrir seu perfil para eu começar a te indicar eventos? <b class="me-bot__pre-response">Vamos</b>
		</span>
	</div>
	<div data-target="bot.conversation" class="wrapper">
		<div data-action="click->bot#hideBot" class="me-bot__close">Fechar</div>
		<div id="message_window">
			<div class="disconnected">
				Disconnected... reconnecting!
			</div>
			<div class="offline">
				Offline! Reload to reconnect.
			</div>
			<section>
				<div id="message_list">
					<div id="message_template">
						<div class="message {{message.type}}">
							{{#if message.isTyping}}
							<div class="typing-indicator">
								<span></span>
								<span></span>
								<span></span>
							</div>
							{{/if}}
							{{{message.html}}}

							{{#if message.open_link}}
							<a href="{{{message.open_link}}}" target="_blank"
								class="button_message">{{#if message.link_title}}{{message.link_title}}{{else}}{{message.open_link}}{{/if}}</a>
							{{/if}}
						</div>
						{{#message.files}}
						<div class="file_attachment">
							{{#if image}}
							<img src="{{{url}}}" alt="{{{url}}}" />
							{{else}}
							<a href="{{{url}}}" title="{{{url}}}">{{{url}}}</a>
							{{/if}}
						</div>
						{{/message.files}}
					</div>
				</div>
			</section>
			<div id="message_replies">
			</div>
			<footer>
				<form onsubmit="Botkit.send(Botkit.input.value, event)">
					<input type="text" autocomplete="off" id="messenger_input" placeholder="Escreva aqui..." />
					<button type="submit">Enviar</button>
				</form>
			</footer>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var options = {
			id: gon.user_id || "null"
		};
		Botkit.boot(options);
	})
</script>