<section class="antialiased bg-gray-50 flex flex-col font-light md:px-0 md:text-base mt-10 md:mt-5 px-5 py-6 space-y-1 text-center text-gray-600 text-sm w-full pb-24 md:pb-6 <%= "me-footer--#{params[:controller]}" if params[:controller] %>">

	<a class="inline-block mx-auto w-content" href='https://play.google.com/store/apps/details?id=com.alegreme.app&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
		<img alt='Dispon铆vel no Google Play' width="200" src='https://play.google.com/intl/en_us/badges/static/images/badges/pt-br_badge_web_generic.png'/>
	</a>


	<div class="font-semibold text-brand-600">
		oi@alegreme.com
	</div>
	<div class="flex-wrap inline-flex items-center justify-center">
		<div>
			Feito
			<!-- <a href="https://www.instagram.com/jonataseduardo/">@jonataseduardo</a> -->
			com
			わ
			锔no Centro Hist贸rico de Porto Alegre
		</div>
		<span class="px-2">路</span>
		<div class="text-brand-600">
			<a href="https://en.wikipedia.org/wiki/Perpetual_beta" title="release early and release often (even with bugs \o/)" rel="nofollow" target="_blank">Always in beta </a>
		</div>
	</div>
	<!-- <div class="me-footer__vamodale">
		Ei! Tem ideias de funcionalidades, projetos pra tocar junto, quer conectar uma API, trocar uma ideia... Usa os links acima.
	</div> -->
	<div class="">
		<a class="md:hover:text-brand-500 transition-colors duration-150" href="http://medium.com/@jonataseduardo/potencializando-a-intera%C3%A7%C3%A3o-entre-as-pessoas-para-criarmos-cidades-melhores-5d048bc9c" rel="nofollow" target="_blank">
			Sobre 路
		</a>
		<a rel="nofollow" class="md:hover:text-brand-600 transition-colors duration-150" href="/privacy">Pol铆tica de
			privacidade</a> 路
		<a rel="nofollow" class="md:hover:text-brand-600 transition-colors duration-150" href="/terms">Termos de servi莽o</a> 路
		<a href="/content" class="md:hover:text-brand-600 transition-colors duration-150" rel="nofollow">Pol铆tica de propriedade intelectual</a>
	</div>
</section>
