<section class="bg-gray-50 leading-6 flex flex-col font-light md:px-0 md:text-base mt-10 md:mt-5 px-5 py-6 text-center text-gray-600 text-sm w-full pb-24 md:pb-6 <%= "me-footer--#{params[:controller]}" if params[:controller] %>">

	<a aria-label="Baixar aplicativo para android" rel="noreferrer" class="inline-block mx-auto w-content" href='https://play.google.com/store/apps/details?id=com.alegreme.app&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
		<img alt='Dispon铆vel no Google Play' loading="lazy" width="200" src='https://play.google.com/intl/en_us/badges/static/images/badges/pt-br_badge_web_generic.png'/>
	</a>

	<% if !current_user || (current_user && controller_name == 'feeds') %>
		<div class="py-20">
			<h3 class="font-semibold mb-6 md:max-w-screen-lg mx-auto md:text-left text-xl">Categorias</h3>
			<div class="gap-y-1.5 gap-x-4 md:gap-x-2 md:gap-y-2 grid grid-cols-2 md:grid-cols-3 md:max-w-screen-lg mx-auto text-left">
				<% Category.active.each do |category| %>
					<a href="<%= category_events_path category.details_url %>" class="text-xs hover:text-brand-600 cursor-pointer">
						<%= category.details_display_name %> <span class="hidden md:inline-block">em Porto Alegre</span>
					</a>
				<% end %>
			</div>
		</div>
	<% end %>

	<div class="font-semibold text-brand-600">
		oi@alegreme.com
	</div>
	<div class="flex-wrap inline-flex items-center justify-center">
		Eventos e cinema em Porto Alegre
	</div>
	<div class="flex-wrap items-center justify-center">
		<span>
			Feito
			<!-- <a href="https://www.instagram.com/jonataseduardo/">@jonataseduardo</a> -->
			com
			わ
			锔no Centro Hist贸rico de Porto Alegre
		</span>
		<span class="px-2">路</span>
		<span class="text-brand-600">
			<a href="https://en.wikipedia.org/wiki/Perpetual_beta" title="release early and release often (even with bugs \o/)" rel="nofollow noreferrer" target="_blank">Always
				in beta </a>
		</span>
	</div>
	<!-- <div class="me-footer__vamodale">
		Ei! Tem ideias de funcionalidades, projetos pra tocar junto, quer conectar uma API, trocar uma ideia... Usa os links acima.
	</div> -->
	<div class="">
		<a class="md:hover:text-brand-500 transition-colors duration-150" href="http://medium.com/@jonataseduardo/potencializando-a-intera%C3%A7%C3%A3o-entre-as-pessoas-para-criarmos-cidades-melhores-5d048bc9c" rel="nofollow noreferrer" target="_blank">
			Sobre 路
		</a>
		<a rel="nofollow" class="md:hover:text-brand-600 transition-colors duration-150" href="/privacy">Pol铆tica de
			privacidade</a> 路
		<a rel="nofollow" class="md:hover:text-brand-600 transition-colors duration-150" href="/terms">Termos de servi莽o</a>
		路
		<a href="/content" class="md:hover:text-brand-600 transition-colors duration-150" rel="nofollow">Pol铆tica de
			propriedade intelectual</a>
	</div>
</section>
