<div class="me-footer">
    <span>
        <b>Alegreme - Eventos e atividades em Porto Alegre</b>
    </span>
    <span>Feito com amor em Porto Alegre para Porto Alegre por porto alegrenses</span>
</div>

