<div data-controller="hero" data-target="hero.hero" class="me-hero">
  <button data-target="hero.close" data-action="click->hero#close"
    class="me-hero__close mdc-icon-button material-icons">close</button>
<div class="me-hero__content">
  <div class="me-hero__title">Eventos e atividades em Porto Alegre</div>
  <div class="me-hero__description">Aprendemos o que você gosta e não gosta para lhe indicar eventos e
    atividades de lazer, esporte, educação e cultura em Porto Alegre.</div>
</div>
<div class="me-hero__list">
  <div class="me-hero__list-item"> <i class="material-icons"> check </i> Indicação por gosto individual</div>
  <div class="me-hero__list-item"> <i class="material-icons"> check </i>Filtro por categorias</div>
  <div class="me-hero__list-item"> <i class="material-icons"> check </i> Salvar eventos que gostei</div>
  <div class="me-hero__list-item"><i class="material-icons"> check </i> Seguir produtor e locais <b>(em breve)</b> </div>
  <div class="me-hero__list-item"><i class="material-icons"> check </i>Agenda dos melhores amigos <b>(em breve)</b> </div>
  <div class="me-hero__list-item"><i class="material-icons"> check </i>Locais para pratica de esporte <b>(em breve)</b></div>
  <div class="me-hero__list-item"><i class="material-icons"> check </i>E muito mais</div>
</div>
<div class="me-hero__cover"></div>
</div>
