scrapy/scraped
web/*.rbc
web/capybara-*.html
web/.rspec
web/log
web/tmp
web/db/*.sqlite3
web/db/*.sqlite3-journal
web/public/system
web/coverage/
web/spec/tmp
web/*.orig
web/rerun.txt
web/pickle-email-*.html
web/public/packs/
web/tmp/
web/db/schema.rb
web/db/test.sqlite3
web/db/development.sqlite3
web/.idea/
web/db/backups/
.idea/
wip.py
.scrapy/
ml/__pycache__
web/tmp/pids
web/tmp/cache
web/.idea/workspace.xml
web/public/packs-test/
.~lock*
*.jpeg~
*.png~
*.kra
*.swp
*.swo
*.ods
.pem
.vscode/
usr/
storage/
web/storage
structure.sql
ml/api/__pycache__/
scrapy/alegreme/__pycache__/
scrapy/alegreme/spiders/__pycache__/
web/log/
web/log/development.log
web/.rake_tasks~
web/vendor/cache/
web/.rake_tasks~
web/public/assets/.sprockets*.json
web/public/assets/application-*
web/public/uploads/
web/public/assets/@stimulus
web/public/assets/logo-*
web/public/assets/bot/client-*
web/public/assets/image-*

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history
# Ignore node_modules
node_modules/

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
app/storage/*
!/storage/.keep
.vscode/settings.json
