<section class="me-page is-animated">
	<% content_for :canonical_url, place_url(@place, format: :html) %>

	<%= notice %>

	<% content_for :meta_title, "Eventos em #{@place.details_name} Porto Alegre | Alegreme.com" %>

	<script type="application/ld+json">
  [
    <%= render partial: 'layouts/json_ld', collection: @collection[:events], as: :event %>
  ]
	</script>

	<%= render partial: "components/collection/events/collection", layout: "components/section", locals: {
			collection: @collection,
			props:      {
					infinite_scroll: true
			}
	} %>

</section>
