<%

	raise ArgumentError unless data
	raise ArgumentError unless data[:event]
	raise ArgumentError unless data[:user]

	data = {
			identifier:       'similar',
			event:            nil,
			user:             nil,
			units_to_display: mobile_device? ? 8 : 6,
	}.deep_merge!(data)

	similar_events_ids = data[:event].similar_data[0...data[:units_to_display]]
	similar_events = Event.where(id: similar_events_ids).order_by_ids(similar_events_ids).active.not_in_saved(data[:user])

%>

<div class="me-similar <%= "similar-to-#{dom_id data[:event]}" %>">
	<h3>
		Similares a <%= link_to(limit_name_size(data[:event].details['name'], 60), event_path(data[:event])) %>
	</h3>

	<div class="me-similar__events">
		<%= render partial:    'components/collection/event',
							 collection: similar_events,
							 as:         :event,
							 locals:     {
									 user:            data[:user],
									 display_similar: false,
									 display_place:   false,
									 identifier:      "similar-to-#{dom_id data[:event]}",
									 type:            'similar'
							 } %>
	</div>
</div>
