<%

	raise ArgumentError unless [collection, user].all?(&:present?)

%>

<div data-controller="movie-collection" class="me-collection" data-model="movie">
	<div class="me-collection__head">
		<h2>
			<%= collection[:title] %>
		</h2>
	</div>
	<div class="me-collection" data-section-disposition="horizontal">
		<div class="mdc-layout-grid">
			<div class="mdc-layout-grid__inner"
					 data-movie-collection-turbolinks-persist-scroll="0"
					 data-target="movie-collection.scrollContainer">
				<%= render(partial:    'components/collection/movie',
									 collection: collection[:items].shuffle,
									 as:         :movie,
									 locals:     {
											 user: user
									 },
									 cached:     true) %>
			</div>
		</div>
	</div>
</div>
