<section class="me-page">
  <section class="me-section me-section--full-height">
    <div class="me-section__inner">
      <div class="me-section__description">
        <h2>
          Editar filme
        </h2>
        <%= render 'form', movie: @movie %>
      </div>
    </section>
    </div>
</section>
