<section class="me-page is-animated">

  <%= notice %>

  <% content_for :meta_title, "Filmes no Cinema em Porto Alegre" %>

  <section class="me-section me-section--condensed">
    <section class="me-section__inner">
      <%= render(partial: 'components/collection/movies/collection', locals: {
                                                                      data: {
                                                                        collection: {
                                                                          movies: @movies
                                                                        },
                                                                        title: {
                                                                          principal: "Filmes lançados nos últimos 30 dias",
                                                                          tertiary:  "Populares nos serviços de streaming"
                                                                        }
                                                                      }
                                                                    }) %>
    </section>
  </section>
</section>
