<%= component_controller class: 'pb-10' do %>
	<% @events.group_by { |e| e.first_day_time.to_date.strftime("%Y-%m-%d") }.each do |group| %>
		<div class="bg-white">
			<div id="vertical-daily-events">
				<%= render LeftSidebar::HorizontalEventComponent.with_collection(group[1], user: @user, parent_key: @parent_key) %>
			</div>
		</div>
	<% end %>
<% end %>