@mixin is-slide-left-animated() {
  transition: opacity 0.6s ease, transform 0.6s ease;
  &.is-animated {
    opacity: 0;
    will-change: opacity, transform;
    @include mdc-layout-grid-media-query_("phone") {

    }
  }
}

@mixin is-slide-right-animated() {
  transition: opacity 0.6s ease, transform 0.6s ease;
  &.is-animated {
    opacity: 0;
    transform: translate(0, 100px);
    will-change: opacity, transform;
    @include mdc-layout-grid-media-query_("phone") {
      transform: translate(50vw, 0);
    }
  }
}

@mixin add-horizontal-scroll-wrapper() {
  overflow-x: scroll;
  overflow-y: hidden;
  //scroll-snap-type: x proximity;
  //scroll-behavior: smooth;
}

@mixin add-horizontal-scroll-items() {
  width: max-content;
}

@mixin no-scroll-bar() {

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin custom-scroll-bar() {

  &::-webkit-scrollbar {
    border-radius: 10px;
    height: 10px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}
