<div class="md:px-0 md:w-3/12 min-h-screen mt-20 mx-auto px-5">
	<div class="inline-block w-full p-3 mb-10 space-y-3 text-gray-800 border rounded-lg shadow-lg">
		<h2 class="font-semibold text-gray-800 text-lg">
			Editar conta
		</h2>
		<%= render 'form', user: @user %>
	</div>
</div>
