<section class="me-section me-section--centralized me-section--full-height">
  <div class="me-section__inner">
    <h2 class="me-section__title">Sugestões de usuários para seguir</h2>
    <%= render partial: 'components/user_suggestions', locals: {
        data: {
            following_users: @users
        }
    } %>
  </div>
</section>