<p id="notice"><%= notice %></p>

<div class="me-single">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">

        <a href="<%= url_for(@user) %>/edit">Editar</a>

        <%= @user.id %>

        </div>
      </div>
    </div>
  </div>
</div>
