<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex">
	<title>Termos de serviço</title>
</head>
<body>
<div class="mx-auto max-w-screen-md p-5 shadow-2xl rounded-2xl mb-10 mt-5">
	<h2 class="font-display font-bold text-2xl inline-block mb-5"> Termos de Serviço (br)</h2>
	<h3 class="font-semibold text-lg mt-6 mb-3"> 1. Termos </h3>
	<p> Ao acessar o site em <a href="http://www.alegreme.com"> http://www.alegreme.com </a>, você concorda em ficar
		vinculado a estes termos de serviço, todas as leis e regulamentos aplicáveis, e concorda que você é responsável
		pelo
		cumprimento de quaisquer leis locais aplicáveis. Se você não concorda com algum destes termos, você está
		proibido de
		usar ou acessar este site. Os materiais contidos neste site são protegidos pela lei aplicável de direitos
		autorais e
		marcas registradas. </p>
	<h3 class="font-semibold text-lg mt-6 mb-3"> 2. Licença de Uso </h3>
	<ol type="a">
		<li> É concedida permissão para fazer download temporariamente de uma cópia dos materiais (informações ou
			software)
			no site da Alegreme apenas para visualização transitória pessoal e não comercial. Esta é a concessão de uma
			licença, não uma transferência de título, e sob esta licença você não pode:
			<ol type="i">
				<li> modificar ou copiar os materiais;</li>
				<li> use os materiais para qualquer finalidade comercial ou para exibição pública (comercial ou não
					comercial);
				</li>
				<li> tentar descompilar ou fazer engenharia reversa de qualquer software contido no site da Alegreme;
				</li>
				<li> remover quaisquer direitos autorais ou outras notações proprietárias dos materiais; ou</li>
				<li> transfira os materiais para outra pessoa ou "espelhe" os materiais em qualquer outro servidor.</li>
			</ol>
		</li>
		<li> Esta licença será automaticamente rescindida se você violar qualquer uma dessas restrições e pode ser
			rescindido pela Alegreme a qualquer momento. Ao encerrar sua visualização desses materiais ou após o término
			desta licença, você deverá destruir todos os materiais baixados que você possua, seja em formato eletrônico
			ou
			impresso.
		</Li>
	</ol>
	<h3 class="font-semibold text-lg mt-6 mb-3"> 3. Isenção de responsabilidade </h3>
	<ol type="a">
		<li> Os materiais no site da Alegreme são fornecidos "como estão". A Alegreme não oferece garantias, expressas
			ou
			implícitas, e renuncia e nega todas as outras garantias, incluindo, sem limitação, garantias ou condições
			implícitas de comerciabilidade, adequação a uma finalidade específica ou não violação de propriedade
			intelectual ou outra violação de direitos.
		</li>
		<li> Além disso, a Alegreme não garante ou faz declarações sobre a precisão, os resultados prováveis ​​ou a
			confiabilidade do uso dos materiais em seu site ou relacionados a tais materiais ou em sites vinculados a
			este
			site.
		</li>
	</ol>
	<h3 class="font-semibold text-lg mt-6 mb-3"> 4. Limitações </h3>
	<p> Em nenhum caso a Alegreme ou seus fornecedores serão responsabilizados por quaisquer danos (incluindo, sem
		limitação, danos por perda de dados ou lucro, ou devido a interrupção de negócios) decorrentes do uso ou
		incapacidade de usar os materiais no site da Alegreme. , mesmo que a Alegreme ou um representante autorizado da
		Alegreme tenha sido notificado oralmente ou por escrito da possibilidade de tal dano. Como algumas jurisdições
		não
		permitem limitações sobre garantias implícitas ou limitações de responsabilidade por danos conseqüentes ou
		incidentais, essas limitações podem não se aplicar a você. </p>
	<h3 class="font-semibold text-lg mt-6 mb-3"> 5. Precisão de materiais </h3>
	<p> Os materiais que aparecem no site da Alegreme podem incluir erros técnicos, tipográficos ou fotográficos. A
		Alegreme
		não garante que nenhum dos materiais em seu site seja preciso, completo ou atual. A Alegreme pode fazer
		alterações
		nos materiais contidos em seu site a qualquer momento, sem aviso prévio. No entanto, a Alegreme não se
		compromete a
		atualizar os materiais. </p>
	<h3 class="font-semibold text-lg mt-6 mb-3"> 6. Links </h3>
	<p> A Alegreme não reviu todos os sites vinculados ao seu site e não é responsável pelo conteúdo de qualquer site
		vinculado. A inclusão de qualquer link não implica o endosso da Alegreme do site. O uso de qualquer site
		vinculado é
		por conta e risco do usuário. </p>
	<h3 class="font-semibold text-lg mt-6 mb-3"> 7. Modificações </h3>
	<p> A Alegreme pode revisar estes termos de serviço para o seu site a qualquer momento, sem aviso prévio. Ao
		utilizar
		este site, você concorda em ficar vinculado pela versão atual desses termos de serviço. </p>
	<h3 class="font-semibold text-lg mt-6 mb-3"> 8. Legislação Aplicável </h3>
	<p> Estes termos e condições são regidos e interpretados de acordo com as leis de Porto Alegre, Brasil e você
		irrevogavelmente se submete à jurisdição exclusiva dos tribunais daquele Estado ou localidade. </p>
</div>


</body>
</html>
