<View>
  <Image width="360px" name="image" value="$media"/>
  <Text name="caption" value="$caption"/>
  <Header value="Que tipo de poster é este:"></Header>
  <Choices name="event" toName="caption" choice="single" showInline="true">
    <Choice value="event"/>
    <Choice value="discount"/>
    <Choice value="other"/>
  </Choices>
</View>
