@import "normalize";
@import "media-queries";
@import "variables";
@import "@material/snackbar/mdc-snackbar";
//@import "smile";
//@import "@material/fab/mdc-fab";


.demo {
  position: relative;

  &__plataform-numbers {
    text-align: center;
    margin: 15px 0 0 0;
    font-weight: normal;
    color: #7D7D7D;
    font-size: 11px;
    padding: 0 55px 0 0;
    position: relative;
    top: -80px;
    @include mobile-only {
      display: none;
      margin: auto;
      padding: 0;
      max-width: 70%;
      top: -70px;
    }
  }
}


.macbook {
  width: 838px;
  height: 490px;
  background-image: asset_url("welcome/mockup-macbook.png");
  background-position: center top;
  background-repeat: no-repeat;
  margin: 65px 0 0 0;
  z-index: 1;
  @include mobile-only {
    display: none;
  }

  &__screen {
    width: 587px;
    height: 335px;
    background: #ffffff;
    position: relative;
    top: 31px;
    left: 126px;
    overflow: hidden;

    & img {
      width: inherit;
    }
  }
}


.android {
  $android-resize: 1.6;
  $android-width: 176;
  $android-height: 356;
  width: unquote($android-width + 'px');
  height: unquote($android-height + 'px');
  background-image: asset_url("welcome/mockup-android.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 95px 0 0 0;
  z-index: 2;
  position: absolute;
  top: 70px;
  right: 10px;
  @include mobile-only {
    width: unquote($android-width * $android-resize + 'px');
    height: unquote($android-height * $android-resize + 'px');
    position: relative;
    top: 0;
    right: 0;
    //transform: scale(1.8);
    margin: 86px auto 40px auto;
  }

  &__screen {
    $android-screen-left: 11;
    $android-screen-height: 272;
    $android-screen-width: 152;
    $android-screen-top: 37;
    width: unquote($android-screen-width + 'px');
    height: unquote($android-screen-height + 'px');
    background: #ffffff;
    position: relative;
    top: unquote($android-screen-top + 'px');
    left: unquote($android-screen-left + 'px');
    overflow: hidden;

    & img, picture, video {
      width: inherit;
    }

    @include mobile-only {
      top: unquote($android-screen-top * $android-resize + 'px');
      left: unquote($android-screen-left * $android-resize + 'px');
      width: unquote($android-screen-width * $android-resize + 'px');
      height: unquote($android-screen-height * $android-resize + 'px');
    }
  }

  &__playStoreBanner {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -60px;
    left: 0;

    @include mobile-only {
      width: 100%;
      position: absolute;
      bottom: -100px;
      left: 0;
    }

    & img {
      width: 100%;
    }
  }
}

.benefits {
  margin: 65px 0 65px 0;
  max-width: 670px;
  @include mobile-only {
    display: none;
    max-width: calc(100vw - 48px);
    margin: 0 0 50px 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 24px 35px;
  }

  &__item {
    grid-column-end: 1 span;
    position: relative;
    @include mobile-only {
      grid-column-end: 2 span;
      border-bottom: 1px solid #eaeaea;
      padding: 0 0 24px 0;
    }

    & h3 {
      font-size: 14px;
      margin: 0 0 4px 0;
      color: $font-secondary-color;
    }

    & span {
      color: $font-tertiary-color;
      font-size: 12px;
    }

  }
}




.manifesto {
  max-width: 640px;
  text-align: justify;
  line-height: 1.6em;
  position: relative;
  margin: 100px 0 85px 0;
  @include mobile-only {
    display: none;
  }

  &::before {
    content: close-quote;
    background: linear-gradient(0deg, #ffffffbf, transparent 50%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  & i {
    color: $font-tertiary-color;
  }

  & h2 {
    font-family: $font-primary-family;
    font-weight: bold;
    font-size: 38px;
    line-height: 1.2em;
    margin: 0 auto 35px auto;
    padding: 0;
    text-align: left;
    @include mobile-only {
      font-size: 31px;
      line-height: 0;
      margin: 65px auto 0 auto;
    }
  }

  &__content {
    margin: auto;
  }

  &__read-more {
    margin: auto;
    position: relative;
    color: $brand-color;
    text-decoration: none;
    font-weight: 500;
  }
}

.questions {
  width: 100%;
  height: 920px;
  background-image: asset_url('welcome/bg-footer.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @include mobile-only {
    background-image: asset_url('welcome/bg-footer-mobile.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    height: auto;
    margin: 85px 0 0 0;
  }

  & h2 {
    font-family: $font-primary-family;
    font-weight: bold;
    font-size: 38px;
    line-height: 1.2 empx;
    margin: 140px auto 0 auto;
    padding: 0;
    text-align: center;
    @include mobile-only {
      font-size: 31px;
      line-height: 0;
      margin: 65px auto 0 auto;
    }
  }

  & h3 {
    @include mobile-only {
      font-size: 15px;
    }
  }

  &__grid {
    display: grid;
    width: 1000px;
    height: 275px;
    top: 0;
    margin: 95px auto 0 auto;
    grid-row-gap: 25px;
    grid-column-gap: 20px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas: "q1 q1 q2 q2 q2" "q3 q3 q3 q3 q3" "q4 q4 q4 q5 q5";
    position: relative;
    left: -50px;
    @include mobile-only {
      left: auto;
      width: 90%;
      grid-row-gap: 10px;
      grid-column-gap: 10px;
      grid-template-columns: 100%;
      grid-template-areas: "q1" "q2" "q3" "q4" "q5";
      margin: 55px auto 0 auto;
    }
  }

  &__grid-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: darken($brand-color, 4%);
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
    background: #F9F9F9;
    @include mobile-only {
      padding: 0 12px;
      justify-content: flex-start;
      width: calc(100% - 24px);
    }

    h3 {
      font-family: $font-secondary-family;
    }

    &:hover {
      //transform: scale(0.9);
      background: $brand-color;

      & h3 {
        color: #ffffff;
      }
    }

    &.is-open {

    }

    &--q1 {
      grid-area: q1;
      //background: #F2F2F2;
    }

    &--q2 {
      grid-area: q2;
      //background: #F2F2F2;
    }

    &--q3 {
      grid-area: q3;
      //background: #F2F2F2;
    }

    &--q4 {
      grid-area: q4;
      //background: #F2F2F2;
    }

    &--q5 {
      grid-area: q5;
      //background: #F2F2F2;
    }
  }
}

.answer {
  background: white;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  /* padding: 15% 0; */
  cursor: zoom-out;
  overflow: auto;
  will-change: opacity, transform;

  &__content {
    max-width: 480px;
    margin: auto;
    display: none;
    text-align: left;
    @include mobile-only {
      max-width: 90%;
      margin: 0px 20px;
    }

    & h3 {
      font-size: 26px;
      margin-bottom: 35px;
      border-bottom: 1px solid;
      padding-bottom: 15px;
    }

    & p {
      text-align: left;
      font-size: 18px;
      line-height: 1.6em;
      margin: 0 0px 30px 0;
      @include mobile-only {
        font-size: 16px;
      }
    }

    & li {
      list-style: none;
      padding: 0 0 20px 0;
    }
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: $font-primary-color;
    font-size: 12px;
    background: white;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 4px;
    border-radius: 6px;
    font-weight: 500;
  }

  &.is-showin {
    animation-name: show-in;
    animation-duration: 600ms;
    animation-timing-function: ease;
  }

  &.is-showout {
    animation-name: show-in;
    animation-duration: 600ms;
    animation-timing-function: ease;
    animation-direction: reverse;
  }

  @keyframes show-in {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.footer {
  margin-top: 185px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__logo-icon {
    position: relative;
  }

  &__links {
    margin: 60px 0 12px 0;
    font-size: 12px;
    font-family: $font-secondary-family;

    & a {
      color: $font-tertiary-color;
    }
  }

  & img {
    width: 100%;
  }
}

.social {
  margin: 125px 0 75px 0;
  width: 100vw;
  max-width: 1090px;
  @include mobile-only {
    margin: 75px 0 75px 0;
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
  }

  & a {
    max-width: 85%;
    // margin: auto;
    transition: transform 0.35s ease;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      transform: scale(0.95);
    }
  }

  & img, picture {
    max-width: 100%;
    @include mobile-only {
      margin: 6px auto;
    }
  }

  & h2 {
    font-family: $font-primary-family;
    font-weight: bold;
    font-size: 38px;
    line-height: 1.2 empx;
    margin: 0 auto 50px auto;
    padding: 0;
    text-align: center;
    @include mobile-only {
      font-size: 31px;
      line-height: 0;
      margin: 65px auto 0 auto;
      height: 50px;
    }
  }


  &__links {
    margin: 15px 0;
    color: $brand-color;
    @include mobile-only {
      max-width: 90vw;
      text-align: center;
      line-height: 1.6em;
    }

    & a {
      color: $brand-color;
      font-weight: 600;
      text-decoration: none;
      padding: 0 3px;
    }
  }
}




.login-button {
  background: white;
  width: 420px;
  height: 87px;
  font-family: $font-primary-family;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $brand-color;
  justify-content: center;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  margin: 0 auto 0 auto;
  cursor: pointer;
  transition: box-shadow 0.4s ease, transform 0.4s ease, opacity 0.4s ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  @include mobile-only {
    width: calc(100vw - 48px);
    height: 65px;
    font-size: 18px;
    margin: 25px auto 0 auto;
  }

  &:hover {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.35);
    transform: scale(1.05);

    &.invite__cta span {
      transform: translateX(6px);
    }
  }

  & span {
    position: relative;
    top: 0px;
    right: -20px;
    transition: transform 0.4s ease;
    @include mobile-only {
      display: none;
    }
  }

}

.skatista {
  width: 98px;
  height: 152px;
  //background-image: asset_url('welcome/skatista.png');
  position: absolute;
  bottom: 35px;
  right: -100px;
  transition: transform 9s ease-out;
  will-change: transform;
  //animation-name: skate;
  //animation-duration: 10s;
  //animation-timing-function: ease-out;
  //will-change: transform;

  //@keyframes skate {
  //  from {
  //    transform: translate(0, 0);
  //  }
  //  to {
  //    transform: translate(1900px, 50px);
  //  }
  //}
}

.has-helper i {
  border-bottom: 2px dotted #59616e;
  cursor: help;
  font-style: normal;
}
