<%

  type = local_assigns.fetch(:type)
  event_id = local_assigns.fetch(:event_id, nil)
  expand_to_similar = local_assigns.fetch(:expand_to_similar, false)

%>

<div class="me-follow-chip-set mdc-chip-set"
     data-controller="follow-chipset"
     data-target="follow-chipset.chipset"
     data-follow-chipset-similar-to="<%= event_id %>"
     data-follow-chipset-expand-to-similar="<%= expand_to_similar %>"
     id="<%= "follow-chip-set__#{type}-#{event_id}" %>">

  <%= render partial:    'components/follow/follow-chip-set',
             collection: chips,
             as:         :followable,
             locals:     {
                 user: user,
                 type: 'organizers'
             } %>
</div>
