<%

  raise ArgumentError unless data

  data = {
      identifier:        false,
      user:              nil,
      type:              nil,
      event_id:          nil,
      expand_to_similar: false,
      chips:             nil
  }.deep_merge!(data)

%>

<div class="me-follow-chip-set mdc-chip-set"
     data-controller="follow-chip-set"
     data-target="follow-chip-set.chip-set"
     data-follow-chip-set-similar-to="<%= data[:event_id] %>"
     data-follow-chip-set-expand-to-similar="<%= data[:expand_to_similar] %>"
     id="<%= data[:identifier] ? data[:identifier] : "follow-chip-set__#{data[:type]}-#{data[:event_id]}" %>">

  <%= render partial:    'components/follow/follow-chip-set',
             collection: data[:chips],
             as:         :followable,
             locals:     {
                 user: data[:user],
                 type: 'organizers'
             } %>
</div>
