<div data-target="label.menu" class="mdc-menu mdc-menu-surface">
	<ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
		<% if feature == 'themes' %>
			<% Event::THEMES.each do |theme| %>
				<li class="mdc-list-item" role="menuitem">
					<span class="mdc-list-item__text">
						<%= link_to  theme.capitalize, retrain_path(event_id: event.id, feature: 'themes', theme: theme), remote: true %>
					</span>
				</li>
			<% end %>
		<% end %>
		<% if feature == 'personas' %>
			<% Event::PERSONAS.each do |persona| %>
				<li class="mdc-list-item" role="menuitem">
					<span class="mdc-list-item__text">
						<%= link_to  persona.capitalize, retrain_path(event_id: event.id, feature: 'personas', persona: persona), remote: true %>
					</span>
				</li>
			<% end %>
		<% end %>
		<% if feature == 'categories' %>
			<% Event::CATEGORIES.each do |category| %>
				<li class="mdc-list-item" role="menuitem">
					<span class="mdc-list-item__text">
						<%= link_to  category.capitalize, retrain_path(event_id: event.id, feature: 'categories', category: category), remote: true %>
					</span>
				</li>
			<% end %>
		<% end %>
	
	</ul>
</div>
