<p id="notice">
	<%= notice %>
</p>

<section class="me-page__section">
	<h2>Dashboard</h2>

	<section>
		<h3>Convites solicitados</h3>
		<%= line_chart(User.where("created_at > ?", Date.today - 14).group_by_day(:created_at, time_zone: 'UTC').count, defer: true) %>
	</section>

	<section>
		<h3>Eventos criados</h3>
		<%= line_chart(Event.where("created_at > ?", Date.today - 14).group_by_day(:created_at, time_zone: 'UTC').count, defer: true) %>
	</section>
</section>
