<p id="notice">
	<%= notice %>
</p>

<section class="w-full">
	<h2 class="font-bold text-xl my-6">
		Dashboard
	</h2>

	<section>
		<h3 class="font-semibold text-lg">Convites solicitados</h3>
		<%= line_chart(User.where("created_at > ?", Date.today - 14).group_by_day(:created_at, time_zone: 'UTC').count, defer: true) %>
	</section>

	<section>
		<h3 class="font-semibold text-lg">Eventos criados</h3>
		<%= line_chart(Event.where("created_at > ?", Date.today - 14).group_by_day(:created_at, time_zone: 'UTC').count, defer: true) %>
	</section>
</section>
