<section class="me-page is-animated">
  <section class="me-section me-section--full-height">
    <div class="me-section__inner">
      <%= render partial: 'components/swipable/swipable' %>
    </div>
  </section>
</section>