<section class="mt-24 md:mt-32 min-h-screen is-animated">

	<%= notice %>

	<% content_for :meta_title, "Eventos adicionados nas últimas 24h" %>

	<div class="md:w-9/12 mx-auto">
		<%= render partial: "components/collection/events/collection",
							 locals:  {
									 identifier:       'new-today',
									 user:             current_user,
									 items:            @recent_events.limit(session[:stimulus][:limit]),
									 total_count:      @recent_events.size,
									 title:            {
											 principal: "Adicionados recentemente",
											 secondary: "Foram adicionados #{@recent_events.size} eventos nas últimas 24 horas que podem te interessar"
									 },
									 infinite_scroll_vertical:  true,
									 display_if_empty: true,
									 show_similar_to:  session[:stimulus][:show_similar_to],
									 html: {
											 grid: {
													 css: 'md:gap-5 md:grid md:grid-cols-4 md:grid-flow-row md:overflow-x-visible md:pl-0 md:row-gap-16 md:space-y-0 pb-2 px-5 space-y-5'
											 }
									 }
							 } %>
	</div>

</section>
