

$box-shadow: 0 0 45px rgba(0, 0, 0, 0.20);

.me-button {
  @include mdc-button-container-fill-color($brand-color);
  @include mdc-button-ink-color($surface-color);
  font-family: $font-primary-family;
  font-weight: 600;
  text-transform: none;
  letter-spacing: 0;
  font-size: 18px;
  line-height: 22px;
  border-radius: 36px;
  padding: 12px 16px;
  height: auto;
  @include mobile-only {
    padding: 16px 18px;
  }

  & svg {
    fill: $surface-color;
    height: 18px;
  }

  &__label {
    .me-collection__load-more & {
      font-family: $font-secondary-family;
      font-size: 14px;
      font-weight: 600;
    }
  }


  &--floating {
    @include mdc-button-container-fill-color($surface-color);
    @include mdc-button-ink-color($font-primary-color);
    // background: $surface-color;
    // color: $font-primary-color;
    box-shadow: $box-shadow;

    & svg {
      fill: $font-secondary-color
    }
  }

  &--transparent {
    @include mdc-button-container-fill-color($surface-color);
    @include mdc-button-ink-color($font-primary-color);

    &.me-button--secondary {
      @include mdc-button-ink-color($font-secondary-color);
    }

    & svg {
      fill: $font-secondary-color
    }
  }

  &--small {
    font-size: 14px;
    padding: 8px 12px;
  }

  &--with-icon-in-right {
    & svg {
      margin: 0 0 0 10px;
    }
  }

  &--with-icon-in-left {
    & svg {
      margin: 0 10px 0 0;
    }
  }

  .me-search-field & {
    font-size: 12px;
    @include mdc-button-ink-color($font-secondary-color);
    @include mdc-button-container-fill-color($surface-color);
    padding: 3px 6px;
    @include mobile-only {
      border: 1px solid $font-secondary-color;
    }
    &:hover {
      @include mdc-button-ink-color($brand-color);
      border: 1px solid $brand-color;
      // color: $brand-color;
    }

    @include mobile-only {
      padding: 3px 8px;
    }
  }
}
