

$box-shadow: 0 0 45px rgba(0, 0, 0, 0.20);

.me-button {
  background: $brand-color;
  color: $surface-color;
  font-family: $font-primary-family;
  font-weight: 600;
  text-transform: none;
  letter-spacing: 0;
  font-size: 18px;
  line-height: 22px;
  border-radius: 36px;
  padding: 12px 16px;
  height: auto;
  @include mobile-only {
    padding: 16px 18px;
  }

  & svg {
    fill: $surface-color;
    height: 18px;
  }

  &__label {
    .me-collection__load-more & {
      font-family: $font-secondary-family;
      font-size: 14px;
      font-weight: 600;
    }
  }


  &--transparent {
    background: $surface-color;
    box-shadow: $box-shadow;
    color: $font-primary-color;

    & svg {
      fill: $font-secondary-color
    }
  }

  &--with-icon-in-right {
    & svg {
      margin: 0 0 0 10px;
    }
  }

  &--with-icon-in-left {
    & svg {
      margin: 0 10px 0 0;
    }
  }

  .me-top-app-bar & {
    font-size: 12px;
    color: $font-secondary-color;
    border: 1px solid $font-secondary-color;
    padding: 3px 6px;
    &:hover {
      color: $brand-color;
      border: 1px solid $brand-color;
    }

    @include mobile-only {
      padding: 3px 8px;
    }
  }
}
