.me-bottom-navigation {
  height: 56px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 5;
  background: darken($surface-color, 1%);
  box-shadow: 0 0 3px #00000030;
  @include desktop-only {
    display: none;
  }

  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    overflow: hidden;
  }

  &__item {
    @include mdc-ripple-surface;
    @include mdc-ripple-radius-bounded;
    @include mdc-states;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: inherit;
    position: relative;

    &.active {
      & .icon, .label {
        fill: $brand-color;
        color: $brand-color;
      }
    }

    & .icon {
      fill: $font-secondary-color;
      color: $font-secondary-color;
      pointer-events: none;
    }

    & .label {
      font-size: 10px;
      font-family: $font-secondary-family;
      position: relative;
      top: -3px;
      pointer-events: none;
    }
  }
}
