@import '../_variables';

$fill-color: #ffffff;

.me-button {
  @include mdc-button-filled-accessible($brand-color);
  font-family: $font-primary-family;
  font-weight: 600;
  text-transform: none;
  letter-spacing: 0;
  font-size: 18px;
  line-height: 22px;
  border-radius: 36px;
  padding: 12px 16px;
  height: auto;
  @include mdc-layout-grid-media-query_("phone") {
    padding: 16px 18px;
  }

  & svg {
    height: 18px;
    margin: 0 10px 0 0;
  }
}
