@import "@material/fab/_mixins";
@import '@material/icon-button/_mixins';
@import "../_variables";

$name-color: $font-primary-color;
$description-color: $font-secondary-color;

.me-card {
  position: relative;
  will-change: opacity, transform;

  &[data-event-similar-open="true"], &[data-event-similar-open="true"]:hover {
    //transform: scale(0.9);
    //transform-origin: center;

    & .me-card__secondary-section a {
      color: $brand-color
    ;
    }

    & .me-card__similar {
      transform: translate(0px, 15px) scale(1.5);
      opacity: 1;
      color: $brand-color;
    }
  }

  &[data-event-similar-open="true"]::before {
    //background: darken($surface-color, 3%);
    //height: 100%;
    //width: 100%;
    //content: close-quote;
    //position: absolute;
    //transform: scale(1.05);
    //transform-origin: center;
    //top: 0;
    //left: 0;
    //z-index: -1;
    //border-radius: 13px;
    //box-shadow: 0 0 1px 0 darken($surface-color, 6%);
  }

  &::before {
    transition: transform 0.4s ease;
  }

  &:hover {

  }

  &__overlay {
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    height: 100%;
    background: linear-gradient(to top, #ffffff38, transparent);
    overflow: hidden;
    @include mdc-ripple-surface;
    @include mdc-ripple-radius-bounded;
    @include mdc-states;
  }

  &__section {
    padding: 0 0 0 5px;
  }

  &__primary-section {
    color: $font-secondary-color;
    text-transform: uppercase;
    font-size: 11px;
    margin: 8px 0 0 0px;
    font-weight: 800;
    @extend .me-card__section;
  }

  &__secondary-section {
    color: $font-primary-color;
    font-size: 15px;
    margin: 3px 0 0 0px;
    font-weight: 500;
    @extend .me-card__section;
  }

  &__tertiary-section {
    color: $font-tertiary-color;
    font-size: 14px;
    margin: 3px 0 0 0px;
    font-weight: 200;
    max-width: 80%;
    @extend .me-card__section;
  }

  &__organizer {
    a {
      text-decoration: none;
    }
  }

  &__similar {
    text-align: center;
    align-self: center;
    cursor: pointer;
    color: $font-tertiary-color;
    min-height: 28px;
    opacity: 0;
    transition: opacity 0.15s ease, transform 0.15s ease-in;
    transform: translate(0px, -10px);

    &:hover {
      color: $brand-color;
    }
  }

  &__like-button {
    position: absolute;
    top: 75px;
    right: 8px;
    z-index: 2;
  }

  &--feed {
    min-height: 176px;
    font-size: 14px;
    border: 0;
    box-shadow: none;
    background: $surface-color;
    position: relative;
    //margin: 0 0 25px 0;

    &:hover {
      & .me-card__similar {
        opacity: 1;
        transform: translate(0px, 0px);
      }
    }

    @include mdc-card-shape-radius($radius: 0, $rtl-reflexive: false);

    @include mdc-layout-grid-media-query_("phone") {
      min-height: 165px;
    }

    & .me-icon-button.mdc-icon-button {
      display: none;
      background: $surface-color;
      transition: 0.2s all ease 0s;
      border-radius: 100%;
      @include mdc-icon-button-ink-color($color: $icon-light-color);
      @include mdc-icon-button-size($width: 26px, $height: 26px, $padding: 4px);

      @include mdc-layout-grid-media-query_("phone") {
        @include mdc-icon-button-ink-color($color: $icon-light-color);
        @include mdc-icon-button-size($width: 26px, $height: 26px, $padding: 4px);
        background: none;
      }

      &:hover {
      }

      &--on {
        @include mdc-icon-button-ink-color($color: $brand-color);
      }

      & .material-icons-sharp {
        //font-size: 30px;
        background: $surface-color;
        border-radius: 100%;
      }
    }

    & .mdc-typography--headline1 {
      color: $font-primary-color;
    }

    & .mdc-typography--headline2 {
      margin: 0 0 6px 0;
    }

    & .mdc-typography--subtitle2 {
      margin: 0 0 6px 0;
    }

    & .mdc-card__primary-action {
      padding: 6px 0 6px 0;

      &:hover {
        background: inherit;
      }
    }

    & .mdc-card__title {
      color: $name-color;
      font-size: 14px;
      line-height: 1.2em;
      margin: 6px 0 0 0;
      font-family: Roboto;
      font-weight: 500;

      @include mdc-layout-grid-media-query_("phone") {
        margin: 6px 0 0 0;
        color: $font-secondary-color;
      }
    }

    & .mdc-card__actions {
      padding: 0;
    }

    & .mdc-card__media {
      transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);

      &:hover {
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.24);
      }
    }

    &.me-card--active {
      //transform: scale(2, 2);
      //background: white !important;
      //z-index: 2;
      //opacity: 1;
      //border: 1px solid #f9f9f9 !important;
      //transition: all 0.6s ease;
      //
      //& .me-card___animate {
      //  transform: scale(0.5,0.5) translate(-38%,-50%);
      //}
    }

    &:hover {
      & .mdc-card__media {
        //opacity: 1;
      }
    }
  }

  &--single {
    margin: 35px 0;
    font-size: 16px;
    line-height: 1.4em;
    border-radius: 20px;
    overflow: hidden;

    & .me-card__name, .me-card__place, .me-card__ocurrence, .me-card__description {
      padding: 12px 0;
    }

    & .me-card__organizer {
      & .mdc-chip-set {
        padding: 0px;
        margin: 0 -4px;
      }

      & .mdc-chip__text {
        font-size: 12px;
      }
    }

    & .me-card__content {
      padding: 0.5rem 1rem 1rem 1em;
    }

    & .me-card__like-button {
      bottom: -22px;
      right: 16px;
      position: absolute;
    }

    & .me-card__primary {
      padding: 2.5rem 1rem 1rem;
    }

    & .me-card__description {

      & a {
        text-decoration: underline;
        color: $link-color;
      }
    }

    & .me-icon-button {

      &.mdc-icon-button {
        background: $icon-background-color;
        transition: 0.2s all ease 0s;
        border-radius: 100%;
        @include mdc-icon-button-ink-color($color: $icon-light-color);
        @include mdc-icon-button-size($width: 38px, $height: 38px, $padding: 6px);
        @include mdc-elevation($z-value: 4);

        &:hover {
          @include mdc-elevation($z-value: 2);
        }

        &--on {
          background: $icon-background-color;
          @include mdc-icon-button-ink-color($color: $brand-color);
          @include mdc-elevation($z-value: 2);
        }

        & .material-icons-sharp {
          font-size: 38px;
        }
      }
    }

    & .mdc-fab {
      @include mdc-fab-container-color($brand-color);
    }

    & .mdc-typography--body2 {
      font-weight: 400;
      padding: 0 16px 16px;
      font-family: Cabin;
      font-size: 14px;
    }
  }

  &--notice {
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include mdc-layout-grid-media-query_("phone") {
      border: unset;
      min-height: 30vh;
      justify-content: space-between;
    }

    & .me-card__primary-section, .me-card__secondary-section {
      row-gap: 12px;
      display: grid;
    }


    & .me-card__primary-section {
      color: $font-secondary-color;
      font-size: 17px;
    }

    & .me-card__secondary-section {
      color: $font-tertiary-color;
      font-size: 14px;
    }

    & .me-card__primary-action {
      color: $brand-color;
      border-top: 1px solid $border-color;
      width: 100%;
      text-align: center;
      padding: 12px 0;
      font-weight: 600;
      cursor: pointer;
      position: absolute;
      bottom: 0;
      @include mdc-layout-grid-media-query_("phone") {
        border: unset;
      }
    }
  }

  & a {
    display: contents;
  }

  & .mdc-card__title {
    color: $name-color;
    line-height: 18px;
    margin: 6px 0 0 0;
    font-weight: 400;
    padding-right: 20px;
  }

  & .mdc-card__subtitle {
    color: $description-color;
    margin-top: 2px;
    font-size: 12px;
    line-height: 14px;
  }

  & .mdc-card__media {
    border-radius: 5px;
    overflow: hidden;
  }

  & .mdc-card__actions {
    position: absolute;
    top: 93px;
    right: -10px;
  }
}
