@import "../_variables";

.me-chip-set {
  text-align: left;
  @include mdc-layout-grid-media-query_("phone") {
    text-align: left;
    width: max-content;
  }

  &__wrapper {
    @include mdc-layout-grid-media-query_("phone") {
      overflow-x: scroll;
      margin: 0 0 6px 0;
    }
    &::-webkit-scrollbar{
      @include mdc-layout-grid-media-query_("phone") {
        display: none;
      }
    }
  }

  &--categories {
    @include mdc-layout-grid-media-query_("phone") {
      padding: 0 16px;
    }

    & .mdc-chip {
      background: none;
      border: 1px solid #e0e0e0;
      &--selected {
        border: 0;
      }
    }
  }

  &--small {
    margin: 2px 0 2px 12px;

    & .mdc-chip {
      padding: 1px 8px;
      //background: $elevated-surface-color;
      height: unset;

      & .material-icons {
        padding: 4px;
      }

      &--selected {
        //border: 1px solid $border-color;
      }
    }

  }
}
