@import "@material/fab/_mixins";
@import "../_variables";

$name-color: $font-primary-color;
$description-color: $font-secondary-color;

.me-card {
  position: relative;

  &:hover {
    & .me-card__overlay {
    }
  }

  &__overlay {
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    height: 100%;
    background: linear-gradient(to top, #ffffff38, transparent);
    overflow: hidden;
    @include mdc-ripple-surface;
    @include mdc-ripple-radius-bounded;
    @include mdc-states;
  }

  &__primary-section {
    color: $font-secondary-color;
    text-transform: uppercase;
    font-size: 11px;
    margin: 8px 0 0 0px;
    font-weight: 800;
  }

  &__secondary-section {
    color: $font-primary-color;
    font-size: 15px;
    margin: 3px 0 0 0px;
    font-weight: 500;
  }

  &__tertiary-section {
    color: $font-tertiary-color;
    font-size: 14px;
    margin: 3px 0 0 0px;
    font-weight: 200;
    max-width: 80%;
  }

  &__title {
  }

  &__place {
  }

  &__category {
  }

  &__date {
  }

  &__like-button {
    position: absolute;
    bottom: -6px;
    right: 0;
  }

  &--feed {
    min-height: 176px;
    font-size: 14px;
    border: 0;
    box-shadow: none;
    background: none;
    position: relative;
    margin: 0 0 25px 0;
    @include mdc-card-shape-radius($radius: 0, $rtl-reflexive: false);

    @include mdc-layout-grid-media-query_("phone") {
      min-height: 165px;
    }

    &-is-saved {
      content: close-quote;
      background: #63d0841a;
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 6px;
      transform: scale(1.1, 1.1);
    }

    &__place {
    }

    &__date {
    }

    & .mdc-typography--headline1 {
      color: $font-primary-color;
    }

    & .mdc-typography--headline2 {
      margin: 0 0 6px 0;
    }

    & .mdc-typography--subtitle2 {
      margin: 0 0 6px 0;
    }

    & .mdc-card__primary-action {
      padding: 6px 0 6px 0;

      &:hover {
        background: inherit;
      }
    }

    & .mdc-card__title {
      color: $name-color;
      font-size: 14px;
      line-height: 1.2em;
      margin: 6px 0 0 0;
      font-family: Roboto;
      font-weight: 500;

      @include mdc-layout-grid-media-query_("phone") {
        margin: 6px 0 0 0;
        color: $font-secondary-color;
      }
    }

    & .mdc-card__actions {
      padding: 0;
    }

    & .mdc-card__media {
      //transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0.75;
      transition: opacity 0.2s ease;
      // box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
    }

    &.me-card--active {
      //transform: scale(2, 2);
      //background: white !important;
      //z-index: 2;
      //opacity: 1;
      //border: 1px solid #f9f9f9 !important;
      //transition: all 0.6s ease;
      //
      //& .me-card___animate {
      //  transform: scale(0.5,0.5) translate(-38%,-50%);
      //}
    }

    &:hover {
      & .mdc-card__media {
        opacity: 1;
      }
    }
  }

  &--single {
    margin: 35px 0;
    border-radius: 20px;
    overflow: hidden;

    & a {
      text-decoration: underline;
      color: $link-color;
    }

    .me-card__like-button {
      bottom: -22px;
      right: 16px;
      position: absolute;
    }

    .me-card__primary {
      padding: 2.5rem 1rem 1rem;
    }

    .mdc-fab {
      @include mdc-fab-container-color($brand-color);
    }

    .mdc-typography--body2 {
      font-weight: 400;
      padding: 0 16px 16px;
      font-family: Cabin;
      font-size: 14px;
    }
  }

  &--notice {
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include mdc-layout-grid-media-query_("phone") {
      border: unset;
      min-height: 30vh;
      justify-content: space-between;
    }

    & .me-card__primary-section, .me-card__secondary-section {
      row-gap: 12px;
      display: grid;
    }


    & .me-card__primary-section {
      color: $font-secondary-color;
      font-size: 17px;
    }

    & .me-card__secondary-section {
      color: $font-tertiary-color;
      font-size: 14px;
    }

    & .me-card__primary-action {
      color: $brand-color;
      border-top: 1px solid $border-color;
      width: 100%;
      text-align: center;
      padding: 12px 0;
      font-weight: 600;
      cursor: pointer;
      position: absolute;
      bottom: 0;
      @include mdc-layout-grid-media-query_("phone") {
        border: unset;
      }
    }
  }

  & a {
    display: contents;
  }

  & .mdc-card__title {
    color: $name-color;
    line-height: 18px;
    margin: 6px 0 0 0;
    font-weight: 400;
    padding-right: 20px;
  }

  & .mdc-card__subtitle {
    color: $description-color;
    margin-top: 2px;
    font-size: 12px;
    line-height: 14px;
  }

  & .mdc-card__media {
    border-radius: 2px;
  }

  & .mdc-card__actions {
    position: absolute;
    top: 93px;
    right: -10px;
  }
}
