.me-collection {
  --mdc-layout-grid-gutter-desktop: 24px;
  --mdc-layout-grid-gutter-phone: 16px;

  &--empty {
    position: relative;
  }

  &[data-section-disposition="horizontal"] {
    & .mdc-layout-grid__inner {
      @include mobile-only {
        grid-gap: var(--mdc-layout-grid-gutter-phone, 16px);
        overflow-y: hidden;
        grid-template-columns: repeat(100, minmax(56vw, 1fr));
        padding: 6px 70px 0 $section-padding-phone;
      }
    }
  }

  &[data-section-disposition="vertical"] {
    & .mdc-layout-grid__inner {
      @include mobile-only {
        grid-gap: var(--mdc-layout-grid-gutter-phone, 16px);
        overflow-y: hidden;
        grid-template-columns: repeat(1, minmax(100%, 1fr));
        padding: 0 $section-padding-phone;
      }
    }

    & .mdc-layout-grid__cell {
      @include mobile-only {
        padding: 0 0 $section-padding-phone 0;
      }
    }
  }


  & .mdc-layout-grid__cell {
    [data-model="movie"] & {
      @include desktop-only {
        grid-column-end: span 2;
      }
      @include mobile-only {
        grid-column-end: span 1;
      }
    }
  }

  & h2 {
    margin: 6px 0 12px 0;
    font-weight: 500;
    //max-width: 90%;
    line-height: 1.4em;
    font-size: 24px;
    color: $font-primary-color;
    font-family: $font-primary-family;
    position: relative;
    letter-spacing: -0.01em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile-only {
      font-size: 18px;
      font-weight: 500;
      line-height: 1em;
      padding: 0 12px 0 $section-padding-phone;
      justify-content: space-between;
    }

  }

  &.me-collection--empty h2 {
    color: $surface-secondary-color;
    background-color: $surface-secondary-color;
    width: max-content;
  }

  &__head {
    // margin-bottom: 24px;
    margin-bottom: 12px;
    [data-section-disposition="vertical"] & {
      @include mobile-only {
        // border-bottom: 1px solid $border-color;
        padding: 0 0 6px 0;
        margin: 0 0 6px 0;
      }
    }
  }

  &__container {
    transition: opacity 400ms ease;
    will-change: opacity;
  }

  &__title-secondary {
    font-size: 16px;
    display: block;
    font-weight: 300;
    font-family: $font-secondary-family;
    color: $font-secondary-color;
    line-height: 1.2em;
    @include mobile-only {
      padding: 0 $section-padding-phone;
      font-size: 11px;
      display: none;
    }

    .me-collection--empty & {
      color: $surface-secondary-color;
      background-color: $surface-secondary-color;
      width: max-content;
    }

    [data-controller="places"][data-action="show"] & {
      @include mobile-only {
        margin: 5px 0;
        max-width: 50%;
      }
    }
  }

  &__title-tertiary {
    font-size: 11px;
    display: block;
    font-weight: 500;
    font-family: $font-secondary-family;
    color: $font-secondary-color;
    line-height: 1.4em;
    text-transform: uppercase;
    @include mobile-only {
      padding: 0 $section-padding-phone;
      font-size: 8px;
    }

    .me-collection--empty & {
      color: $surface-secondary-color;
      background-color: $surface-secondary-color;
      width: max-content;
    }
  }

  &__title-custom {
    @include mobile-only {
      padding: 6px 0 0 0;
      display: block;
    }
  }

  &__empty-message {
    margin: 12px 0;
    @include mobile-only {
      padding: 0 12px 0 $section-padding-phone;
    }
  }

  &__load-more {
    text-align: center;
    padding: 12px 0;
    font-weight: 500;

    &:hover {
      background: $background-color;
    }

    @include mobile-only {

    }

    &--vertical {
      [data-controller="feeds"][data-action="index"] & {
        @include mobile-only {
          display: none;
        }
      }

      [data-controller="events"][data-action="show"] & {
        @include mobile-only {
          display: none;
        }
      }

      [data-controller="feeds"][data-action="index"] [data-section-disposition="vertical"] & {
        display: block;
      }
    }

    &--horizontal {
      transition: opacity 0.250ms ease;
      will-change: opacity;
      order: 1000;
      display: none;
      align-self: center;

      [data-controller="feeds"][data-action="index"] [data-section-disposition="vertical"] & {
        display: none;
      }

      [data-controller="feeds"][data-action="index"] & {
        @include mobile-only {
          display: block;

          & svg {
            padding: 12px;
            border: 1px solid $border-color;
            border-radius: 35px;
            width: 34px;
            height: 34px;
            fill: $font-tertiary-color;
            position: relative;
            left: -30px;
          }
        }
      }

      [data-controller="feeds"][data-action="index"] [data-section-disposition="vertical"][data-section-load-more-loading="true"] & {
        &.is-loading {
          @include mobile-only {
            display: none;
            opacity: 0;
          }
        }
      }

      [data-controller="feeds"][data-action="index"] &.is-loading {
        @include mobile-only {
          display: none;
          opacity: 0;
        }
      }

      [data-controller="feeds"][data-action="index"] [data-section-load-more-loading="true"] & {
        @include mobile-only {
          opacity: 0;
          display: none;

          &.is-loading {
            display: block;
            opacity: 1;

            & svg {
              animation-name: rotate;
              animation-iteration-count: infinite;
              animation-duration: 1s;
              animation-timing-function: ease;
            }
          }
        }
      }

    }
  }

  &__info {
    .me-collection--empty & {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      @include is-empty;
    }
  }

  & .mdc-layout-grid__inner {
    @include mdc-layout-grid-media-query_("desktop") {
      @include mdc-layout-grid-inner(
              $size: "desktop",
              $margin: 0,
              $gutter: 15px
      );
    }

    &::-webkit-scrollbar {
      @include mobile-only {
        display: none;
      }
    }
  }

  & .mdc-layout-grid__cell {
    @include mdc-layout-grid-media-query_("desktop") {
      @include mdc-layout-grid-cell(
              $size: "desktop",
              $default-span: 3,
              $gutter: 24px
      );
    }
    @include mobile-only {
      @include mdc-layout-grid-cell(
              $size: "phone",
              $default-span: 1,
              $gutter: 16px
      );
    }

    &:last-child {
      @include mobile-only {
        padding: 0 $section-padding-phone 0 0;
        margin: 0 (-$section-padding-phone) 0 0;
      }
    }
  }

}
