@import "@material/fab/_mixins";
@import '@material/icon-button/_mixins';


$name-color: $font-primary-color;
$description-color: $font-secondary-color;

.me-card {
  background: $surface-color;
  position: relative;
  will-change: opacity, transform;

  &--feed {
    min-height: 176px;
    font-size: 14px;
    border: 0;
    box-shadow: none;
    margin:6px 0 0 0;
    position: relative;
    @include mdc-card-shape-radius($radius: 0, $rtl-reflexive: false);
    @include mobile-only {
      min-height: 165px;
    }
    &:hover {
      & .me-card__similar {
        opacity: 1;
        transform: translate(0px, 0px);
      }

      & .me-card__place {
        opacity: 1;
        transform: translate(0px, 0px);
      }
    }

  }

  .me-similar & {
    background: none;
    min-height: 150px;
    border-radius: 2px;
  }

  .me-saves & {
    min-height: 132px;
    cursor: pointer;
    font-size: 11px;
    border: 0;
    box-shadow: none;
    background-color: inherit;
    @include mdc-card-shape-radius($radius: 0, $rtl-reflexive: false);
    @include mobile-only {
      min-height: 100px;
    }

    // &__title,
    // &__date {
    //   pointer-events: none;
    //   margin: 3px 0 0 0;
    //   line-height: 1.3em;
    //   color: $font-secondary-color;
    //
    //   &:hover {
    //     background: inherit;
    //   }
    // }


    &__title {
      color: $font-primary-color;
      font-size: 13px;
      margin: 12px 0 0 0;
      font-weight: 400;
      padding-right: 6px;
    }

    &__date {
      color: $font-secondary-color;
      text-transform: uppercase;
      font-size: 11px;
      margin: 8px 0 6px 0;
      padding: 0 0 0 5px;
      font-weight: 800;
      min-height: 1.1em;
      display: flex;
      flex-direction: column;
      @include mobile-only {
        font-size: 9px;
      }
    }

    &__remove {
      background: transparentize($icon-background-color, 0.4);
      position: absolute;
      top: 5px;
      right: 5px;
      width: 16px;
      height: 16px;
      cursor: pointer;
      display: none;
      z-index: 1;
      border-radius: 100%;
      fill: $font-secondary-color;
      @include mobile-only {
        display: block;
        padding: 3px;
      }
    }

    & .mdc-card__media {
      border-radius: $media-border-radius;
      overflow: hidden;
      //transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
      //box-shadow: $media-box-shadow-small;

      &:hover {
        //box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.24);
      }
    }
  }

  & a:hover {
    color: $brand-color-aa;
  }

  & a {
    display: contents;
  }

  & .mdc-card__title {
    color: $name-color;
    line-height: 18px;
    margin: 6px 0 0 0;
    font-weight: 400;
    padding-right: 20px;
  }

  & .mdc-card__subtitle {
    color: $description-color;
    margin-top: 2px;
    font-size: 12px;
    line-height: 14px;
  }

  & .mdc-card__media {
    border-radius: $media-border-radius;
    //border: $media-border-width solid #f7f7f7;
    //overflow: hidden;
  }

  & .mdc-card__actions {
    position: absolute;
    top: 93px;
    right: -10px;
  }


  &__overlay {
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    height: 100%;
    background: linear-gradient(to top, #ffffff38, transparent);
    overflow: hidden;
    border-radius: $media-border-radius;
    box-shadow: 0px 1px 3px #0000001c;
    //box-shadow: $media-box-shadow-large;
    @include mdc-ripple-surface;
    @include mdc-ripple-radius-bounded;
    @include mdc-states;
    @include mobile-only {
    }
  }

  &__section {
    padding: 0 0 0 5px;
  }

  &__primary-section {
    color: $font-secondary-color;
    text-transform: uppercase;
    line-height: 1em;
    display: flex;
    flex-wrap: wrap;
    z-index: 5;
    margin: 0 0 12px 6px;
    // position: absolute;
    // top: 6px;
    // left: 6px;
    //display: none;
    .me-card--single & {
      color: $font-primary-color;
      text-transform: none;
      display: flex;
      margin: 50px 0;
      position: relative;
      @include mobile-only {
        flex-direction: column;
        margin: 24px 0;
      }
    }
    .me-similar & {
      font-size: 10px;
      font-weight: 500;
    }
  }

  &__date {
    .me-card--feed & {
      flex-direction: column;
      align-items: flex-start;
      color: lighten($font-tertiary-color, 10%);
      font-size: 10px;
      line-height: 1;
    }

    &.hoje {
      font-weight: 600;
      //background: $brand-color;
      color: $brand-color-aa;
      & i {
        width: 6px;
        height: 6px;
        display: inline-block;
        background: $brand-color;
        border-radius: 3px;
        margin: 0 3px 1px 0;
        box-shadow: 0 0 6px $brand-color;
      }
    }

    &.amanha {
      font-weight: 600;
      color: $brand-color-aa;
    }
  }

  &__date-distance-in-words {
    font-size: 10px;
    line-height: 1;
    padding: 2px 0 0 0;
    @include mobile-only {
      font-size: 10px;
    }

    .me-saves & {
      font-weight: 300;
    }
  }

  &__secondary-section {
    color: $font-secondary-color;
    font-size: 16px;
    margin: 6px 0 0 0;
    padding: 0 0 0 6px;
    font-weight: 500;
    [data-section-disposition="vertical"] & {
      @include mobile-only {
        font-size: 20px;
        line-height: 1.4em;
      }
    }
    .me-similar & {
      font-size: 14px;
      //@include mobile-only {
      //  font-size: 14px;
      //}
    }

    & a {
      color: $font-secondary-color;
      .me-similar & {
        color: $font-secondary-color;
        &:hover {
          color: $brand-color-aa;
        }
      }
    }
  }

  &__tertiary-section {
    color: $font-secondary-color;
    font-size: 14px;
    margin: 12px 0 0 0;
    padding: 0 0 0 6px;
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__quartenary-section {
    padding: 8px 0 0 6px;
    font-size: 10px;
    font-weight: 300;
    text-transform: lowercase;
    & a {
      color: $font-tertiary-color;
    }
  }

  &__organizer {
    a {
      text-decoration: none;
      color: $font-tertiary-color;
    }
  }

  &__place {
    opacity: 0;
    transition: opacity 0.15s ease;
    user-select: none;
    @include mobile-only {
      opacity: 1;
    }
    .me-card--single & {
      opacity: 1;
      padding: 0;
      margin: 0;
    }

    & svg {
      margin: 0 6px 0 0;
    }
  }

  &__similar {
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.15s ease;
    user-select: none;
    z-index: 2;
    @include mobile-only {
      margin: 12px 0;
      opacity: 1;
    }

    .me-card[data-event-similar-open="true"] &, .me-card[data-event-similar-open="true"]:hover & {
      color: $brand-color;
    }

    & .mdc-button::before, .mdc-button::after {
      background-color: transparent;
    }

    & svg {
      fill: $font-secondary-color;
      margin: 0 0 1px 3px;

      .me-card[data-event-similar-open="true"] &, .me-card[data-event-similar-open="true"]:hover & {
        fill: $brand-color;
      }
    }


    //& .me-card__loading svg {
    //  opacity: 0;
    //  display: none;
    //  animation-name: rotate;
    //  animation-iteration-count: infinite;
    //  animation-duration: 1s;
    //  animation-timing-function: ease;
    //  padding: 0;
    //  @include mobile-only {
    //    //padding: 1px 0 1px 0;
    //  }
    //}

    & svg {
      fill: $font-secondary-color;
    }

    &:hover {
      color: $brand-color;
    }

    & .material-icons {
      font-size: 30px;
    }
  }


  &__expand-more {
    .me-card[data-event-similar-loading="true"] & {
      opacity: 0;
      display: none;
    }
  }

  &__loading svg {
    opacity: 0;
    display: none;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: ease;
    padding: 0;
    @include mobile-only {

    }

    .me-card[data-event-similar-loading="true"] & {
      opacity: 1;
      display: block;
      fill: $brand-color;
    }
  }

  &__like-button {
    position: absolute;
    z-index: 2;
    top: 12px;
    right: 12px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);

    & .me-icon-button.mdc-icon-button {
      display: none;
      background: $surface-color;
      transition: 0.2s all ease 0s;
      @include mdc-icon-button-icon-size($width: 20px, $height: 20px, $padding: 10px);

      & svg {
        fill: lighten($font-tertiary-color, 30%);
      }

      @include mobile-only {
        display: block;
      }

      &--on {
        //background: $brand-color;

        & svg {
          fill: #EA4335;
        }
      }
    }
  }


  &--feed {

    //
    //.me-event-single__similar & {
    //  margin: 6px 0 30px 0;
    //}

    //@include mdc-card-shape-radius($radius: 0, $rtl-reflexive: false);
    //
    //@include mobile-only {
    //  min-height: 165px;
    //}

    //& .mdc-typography--headline1 {
    //  color: $font-primary-color;
    //}
    //
    //& .mdc-typography--headline2 {
    //  margin: 0 0 6px 0;
    //}
    //
    //& .mdc-typography--subtitle2 {
    //  margin: 0 0 6px 0;
    //}

    //& .mdc-card__primary-action {
    //  padding: 6px 0 6px 0;
    //
    //  &:hover {
    //    background: inherit;
    //  }
    //}

    //& .mdc-card__title {
    //  color: $name-color;
    //  font-size: 14px;
    //  line-height: 1.2em;
    //  margin: 6px 0 0 0;
    //  font-family: Roboto;
    //  font-weight: 500;
    //
    //  @include mobile-only {
    //    margin: 6px 0 0 0;
    //    color: $font-secondary-color;
    //  }
    //}

    //
    //& .mdc-card__actions {
    //  padding: 0;
    //}

    //& .mdc-card__media {
    //  //transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    //  //box-shadow: $media-box-shadow;
    //
    //  &:hover {
    //    //box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.24);
    //  }
    //}

    //&:hover {
    //  & .mdc-card__media {
    //    //opacity: 1;
    //  }
    //}

    //&[data-event-favorited="true"]::before {
    //  content: close-quote;
    //  background: lighten($brand-color, 66%);
    //  width: 100%;
    //  height: 100%;
    //  position: absolute;
    //  transform: scale(1.1);
    //  border-radius: 10px;
    //  z-index: -1;
    //}
  }

  //&--single {
    //padding: 35px 0;
    //font-size: 16px;
    //line-height: 1.4em;
    //@include mobile-only {
    //  padding: 0;
    //}
    //
    //&[data-event-description-open="true"] {
    //
    //  & .me-card__description-wrapper {
    //    max-height: unset;
    //    text-align: left;
    //
    //    & br {
    //      content: unset;
    //    }
    //
    //    &::before {
    //      display: none;
    //    }
    //  }
    //
    //  & .me-card__description {
    //    & button {
    //      display: none;
    //    }
    //  }
    //}
    //
    //& .me-card__breadcrumb {
    //  display: -webkit-box;
    //  display: flex;
    //  flex-direction: row;
    //  margin: 0 0 12px 0;
    //  text-transform: uppercase;
    //  font-size: 11px;
    //  @include mobile-only {
    //    display: none;
    //  }
    //
    //  & span {
    //    padding: 0 12px;
    //  }
    //
    //  & i {
    //    font-style: normal;
    //  }
    //}
    //
    //& .me-card__primary-section {
    //  color: $font-secondary-color;
    //
    //  & a {
    //    color: $font-secondary-color;
    //  }
    //}
    //
    //& .me-card__head {
    //  display: flex;
    //  flex-direction: row;
    //  align-items: baseline;
    //  height: 450px;
    //  flex-wrap: wrap;
    //  justify-content: center;
    //  align-content: baseline;
    //  position: relative;
    //  @include mobile-only {
    //    height: auto;
    //    align-content: center;
    //    justify-content: center;
    //    flex-direction: row;
    //    width: 100vw;
    //    top: -24px;
    //    left: -24px;
    //  }
    //}
    //
    //& .me-card__media {
    //  width: 100%;
    //  height: 370px;
    //  background-size: cover;
    //  background-position: center;
    //  border-radius: $media-border-radius;
    //  position: relative;
    //  box-shadow: $media-box-shadow-large;
    //  @include mobile-only {
    //    width: 100%;
    //    height: 200px;
    //    border-radius: 0;
    //    box-shadow: none;
    //  }
    //}
    //
    //& .me-card__name {
    //  padding: 0;
    //  margin: 25px 0 30px 15px;
    //  width: 100%;
    //  text-align: center;
    //  line-height: 1.3em;
    //  font-family: $font-primary-family;
    //  font-weight: 800;
    //  font-size: 28px;
    //  color: $font-primary-color;
    //  @include mobile-only {
    //    font-size: 21px;
    //    width: 90%;
    //    text-align: center;
    //    margin: 15px 0 0 0;
    //  }
    //}
    //
    //& .me-card__topics {
    //  text-align: center;
    //  margin: auto;
    //
    //  & .mdc-chip-set {
    //    display: inline;
    //  }
    //
    //  & .mdc-chip__text {
    //    font-size: 12px;
    //  }
    //}
    //
    //& .me-card__like-button {
    //  bottom: -20px;
    //  right: 16px;
    //}
    //
    ////& .me-card__primary-section {
    //  //color: $font-primary-color;
    //  //text-transform: none;
    //  //display: flex;
    //  //margin: 50px 0;
    //  //@include mobile-only {
    //  //  flex-direction: column;
    //  //  margin: 24px 0;
    //  //}
    ////}
    //
    //& .me-card__place, .me-card__date {
    //  //background: $background-z0-color;
    //  padding: 10px;
    //  margin: 0 15px 0 0;
    //  border-radius: 5px;
    //  width: 50%;
    //  @include mobile-only {
    //    width: auto;
    //    margin: 0 0 16px 0;
    //    display: flex;
    //  }
    //
    //  &-title {
    //    font-style: normal;
    //    font-weight: bold;
    //    font-size: 14px;
    //    margin: 0 0 3px 0;
    //    line-height: 1em;
    //    text-transform: capitalize;
    //
    //    & a:hover {
    //      color: $brand-color;
    //    }
    //  }
    //
    //  & i {
    //    float: left;
    //    margin: 0 10px 0 0;
    //  }
    //
    //  & span {
    //    font-style: normal;
    //    font-weight: normal;
    //    font-size: 12px;
    //  }
    //}
    //
    //& .me-card__address {
    //  font-style: normal;
    //  font-weight: normal;
    //  font-size: 12px;
    //
    //  &:hover {
    //    color: $brand-color;
    //  }
    //}
    //
    //& .me-card__date {
    //  margin: 0;
    //}
    //
    //& .me-card__description {
    //  margin: 35px 0;
    //
    //  & button {
    //    margin: auto;
    //    display: block;
    //  }
    //}
    //
    //& .me-card__description-wrapper {
    //  font-weight: normal;
    //  font-size: 16px;
    //  line-height: 1.6em;
    //  position: relative;
    //  max-height: 150px;
    //  overflow: hidden;
    //  text-align: justify;
    //
    //  & br {
    //    content: close-quote;
    //  }
    //
    //  &::before {
    //    content: close-quote;
    //    width: 100%;
    //    height: 100%;
    //    position: absolute;
    //    background: linear-gradient(0deg, #FFFFFF 15%, transparent 100%);
    //    z-index: 2;
    //  }
    //
    //  & a {
    //    text-decoration: underline;
    //    color: $link-color;
    //  }
    //}
    //
    //& .me-icon-button.mdc-icon-button {
    //  display: block;
    //}
    //
    //& .mdc-typography--body2 {
    //  font-weight: 400;
    //  padding: 0 16px 16px;
    //  font-family: Cabin;
    //  font-size: 14px;
    //}
  //}

  &--notice {
    min-height: 30vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    @include mobile-only {
      border: unset;
      min-height: 15vh;
      justify-content: center;
      max-width: 85%;
    }

    & .me-card__primary-section, .me-card__secondary-section {
      row-gap: 12px;
      display: grid;
    }

    & .me-card__primary-action {
      color: $brand-color;
      border-top: 1px solid $border-color;
      width: 100%;
      text-align: center;
      padding: 12px 0;
      font-weight: 600;
      cursor: pointer;
      position: absolute;
      bottom: 0;
      font-size: 16px;
      @include mobile-only {
        font-size: 14px;
        border: unset;
      }
    }

    & .me-card__secondary-section {
      color: $font-tertiary-color;
      font-size: 14px;
      @include mobile-only {
        font-size: 11px;
        font-weight: 100;
      }
    }
  }
}
