@import "../_variables";
@import "@material/top-app-bar/_mixins";

.me-chip {
  background: $surface-secondary-color;
  color: $font-secondary-color;

  .me-card__primary-section & {
    background: $surface-color;
    color: $font-tertiary-color;
    box-shadow: 0 1px 5px #0000003b;
    font-size: 10px;
    margin: 0 6px 6px 0;
    font-weight: 500;
    padding: 0 10px;
    height: auto;

    &.me-card__date {
      box-shadow: none;
    }

    &.hoje {
      font-weight: 600;
      //background: $brand-color;
      color: $brand-color-aa;
      padding: 4px 10px;
      font-size: 11px;
      & i {
        width: 6px;
        height: 6px;
        background: $brand-color;
        border-radius: 3px;
        margin: 0 5px 0 0;
        box-shadow: 0 0 6px $brand-color;
      }
    }

    &.amanha {
      font-weight: 600;
      //background: lighten($brand-color, 63%);
      //color: $brand-color-aa;
      padding: 4px 10px;
      font-size: 11px;
    }
  }

  .me-similar__events & {
    font-size: 9px;
    font-weight: 500;
  }

  .me-card__tertiary-section & {
    margin: 0 6px 6px 0;
    font-size: 11px;
    background: $surface-secondary-color;
    color: $font-tertiary-color;
    & a {
      color: $font-tertiary-color;
    }

    & svg {
      fill: $font-tertiary-color
    }
  }

  //&.mdc-chip {
  //  font-family: $font-secondary-family;
  //}
}
