@import "../_variables";

.me-chip-set {
  text-align: right;
  @include mdc-layout-grid-media-query_("phone") {
    text-align: left;
    width: max-content;
  }

  &__wrapper {
    @include mdc-layout-grid-media-query_("phone") {
      overflow-x: scroll;
    }
    &::-webkit-scrollbar{
      @include mdc-layout-grid-media-query_("phone") {
        display: none;
      }
    }
  }

  &--small {

    & .mdc-chip {
      padding: 1px 8px;
      background: $elevated-surface-color;
      height: unset;

      & .material-icons {
        padding: 4px;
      }

      &--selected {
        border: 1px solid $border-color;
      }
    }

  }
}
