@import "../_variables";

.me-footer {
  text-align: center;
  padding: 35px 0;
  color: $font-secondary-color;
  @include mdc-layout-grid-media-query_("phone") {
    display: none;
  }

  & span {
    margin: 0 12px;
  }
}
