.me-form {
  --mdc-layout-grid-gutter-phone: 12px 16px;
  --mdc-layout-grid-gutter-desktop: 12px 30px;

  @include mobile-only {
    .me-page--justify-center & {
      width: calc(100vw - 48px);
    }
  }

  &__info {

    & a {
      color: $brand-color;
      text-decoration: underline;
    }
  }

  &__remove-field-button {

  }

  &__add-field-button {
    
  }

  &__submit-button {
    margin: 24px 0;
    float: right;
  }
}
