@import "@material/card/_mixins";
@import "@material/layout-grid/_mixins";
@import "@material/layout-grid/_variables";
@import "../_variables";

$name-color: $font-primary-color;
$description-color: $font-secondary-color;

$mdc-layout-grid-columns: (
  desktop: 15,
  tablet: 18,
  phone: 8
);

.me-feed {

  &__section {
    margin: 0 0 35px 0;

    @include mdc-layout-grid-media-query_("phone") {
      margin: 0;
    }

    & .mdc-typography--headline4 {
      margin: 12px 0;
    }

    & .me-filter {
      display: block;
      margin: 16px 0;
      min-height: 90px;
    }

    & .me-feed__divider {
      margin: 0;
    }
  
  }

  &__divider {
    display: none;
    width: 100px;
    height: 2px;
    background: $brand-color;
    border-radius: 1px;
    margin: 12px 0 26px 0;
    @include mdc-layout-grid-media-query_("tablet") {
      margin: 12px var(--mdc-layout-grid-margin-phone, 16px) 26px
        var(--mdc-layout-grid-margin-phone, 16px);
    }
    @include mdc-layout-grid-media-query_("phone") {
      display: none;
    }
  }

  & .me-chip-set {
    margin: 2px 0 6px 0;
    //background: #f9f9f9;
    border-radius: 3px;
    display: inline;
  }
  

  & .mdc-typography--headline1 {
    @include mdc-layout-grid-media-query_("tablet") {
      padding: var(--mdc-layout-grid-margin-phone, 16px);
      line-height: 1.5em;
      font-size: 1.6em;
      text-align: center;
    }
    @include mdc-layout-grid-media-query_("phone") {
      padding: var(--mdc-layout-grid-margin-phone, 16px);
      line-height: 1.5em;
      font-size: 1.6em;
      text-align: center;
      margin-bottom: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      margin-top: 15px;
    }
  }

  & .mdc-layout-grid {
    --mdc-layout-grid-margin-desktop: 0;
    --mdc-layout-grid-gutter-desktop: 16px;

    @include mdc-layout-grid-media-query_("phone") {
      background-color: $surface-color;
      border-radius: 20px;
      border-radius: 20px;
      margin-bottom: 35px;
      @include mdc-elevation($z-value: 4);
    }

    & a {
      text-decoration: none;
    }
  }

  & .mdc-layout-grid__inner {
    @include mdc-layout-grid-media-query_("desktop") {
      @include mdc-layout-grid-inner(
        $size: "desktop",
        $margin: 0,
        $gutter: 15px
      );
    }
    @include mdc-layout-grid-media-query_("tablet") {
      @include mdc-layout-grid-inner(
        $size: "tablet",
        $margin: 0,
        $gutter: 15px
      );
    }
    @include mdc-layout-grid-media-query_("phone") {
      @include mdc-layout-grid-inner($size: "phone", $margin: 0, $gutter: 15px);
      & .mdc-layout-grid__cell:first-child {
        grid-column-end: span 8;
      }
    }
  }
}
