@import "../variables";
@import "@material/top-app-bar/_mixins";

.me-filter {
  display: inline;
  user-select: none;
  @include mdc-layout-grid-media-query_("phone") {
    // width: calc(100vw - 24px);
    //width: 100vw;
    margin: 0 0 3px 0;
  }

  &:hover {
    & .mdc-chip-set .material-icons {
      opacity: 1;
    }
  }

  &__label {
    align-self: center;
    margin: 0 6px 0 0px;
    font-weight: 400;
  }

  & .mdc-chip-set {
    display: block;
    padding: 3px 0;
    @include mdc-layout-grid-media-query_("phone") {
      padding: 2px $section-padding-phone;
    }

    & .material-icons {
      vertical-align: middle;
      padding: 0 6px 0 0;
      color: $font-secondary-color;
      opacity: 0;
      transition: opacity 0.2s ease-in;
    }

    & .mdc-chip {
      @include mdc-layout-grid-media-query_("desktop") {
        font-weight: 400;
        font-size: 9px;
        height: auto;
        line-height: 1em;
        padding: 6px 8px;
        margin: 2px 0px;
      }

      @include mdc-layout-grid-media-query_("phone") {
        font-size: 11px;
        height: 34px;
        margin: 2px;
      }
    }
  }

  &--grid2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 16px;
  }


  &--grid3{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 16px;
  }

  & .mdc-chip {
    color: $font-secondary-color;
    background-color: $background-color;
    border: $chip-border-size solid $border-color;
    border-radius: $chip-filter-radius;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    transition: $chip-transition;
    @include mdc-layout-grid-media-query_("phone") {
      // border: unset;
    }
  }

  & .mdc-chip--selected {
    color: $chip-filter-color-active;
    background-color: $chip-filter-background-active;
    border: $chip-border-size solid $chip-filter-border-color-active;
    @include mdc-layout-grid-media-query_("phone") {
      border: $chip-border-size solid $chip-filter-background-active;
    }
  }
}
