@import "../variables";
@import "@material/top-app-bar/_mixins";

.me-filter {
  display: inline;
  user-select: none;
  margin: 12px 0 0 0;
  @include mdc-layout-grid-media-query_("phone") {
    margin: 12px 0 3px 0;
  }

  &:hover {
    & .mdc-chip-set .material-icons {
      opacity: 1;
    }
  }

  &__label {
    align-self: center;
    margin: 0 6px 0 0px;
    font-weight: 400;
  }

  & .mdc-chip-set {
    display: block;
    padding: 0;
    @include mdc-layout-grid-media-query_("phone") {
      padding: 0 $section-padding-phone;
    }

    &::before {
      @include mdc-layout-grid-media-query_("phone") {
        background: linear-gradient(270deg, white 10%, transparent);
        position: absolute;
        z-index: 5;
        width: 40px;
        height: 40px;
        content: close-quote;
        right: 0;
        pointer-events: none;
      }
    }

    &[data-target="chip.chipset section.ocurrences"] {
      & .mdc-chip {
        @include desktop-only {
          padding: 6px;
        }
      }
    }

    & .material-icons {
      vertical-align: middle;
      padding: 0 6px 0 0;
      color: $font-secondary-color;
      opacity: 0;
      transition: opacity 0.2s ease-in;
    }

    & .mdc-chip {
      font-weight: 500;
      font-size: 10px;
      height: auto;
      line-height: 1em;
      padding: 10px 8px;
      margin: 3px;
      font-family: $font-secondary-family;
      border-radius: 3px;
      color: $font-tertiary-color;
      background-color: $background-color;
      border: $chip-border-size solid $border-color;
      text-transform: uppercase;
      transition: $chip-transition;
      @include mdc-layout-grid-media-query_("phone") {
        //padding: 12px 8px;
      }
    }

    & .mdc-chip--selected {
      color: $chip-filter-color-active;
      background-color: $chip-filter-background-active;
      border: $chip-border-size solid $chip-filter-border-color-active;
      @include mdc-layout-grid-media-query_("phone") {
        border: $chip-border-size solid $chip-filter-background-active;
      }
    }
  }

  &--grid2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 16px;
  }


  &--grid3 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 16px;
  }

}
