@import '../variables';

.me-float-menu {
  position: fixed;
  top: 150px;
  bottom: 90px;
  left: 2px;
  z-index: 1;
  will-change: transform;
  color: $icon-color;
  user-select: none;
  height: max-content;
  background: $background-z1-color;
  box-shadow: $surface-z10-box-shadow;
  border-radius: 0 15px 15px 0;

  @include mdc-layout-grid-media-query_("phone") {
    display: none;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72px;
    padding: 25px 0 0 0;
    text-align: center;
    font-size: 10px;
  }

  &__icon {
    justify-content: center;
    position: relative;
    vertical-align: middle;
    fill: currentcolor;
    stroke: none;
    width: 24px;
    height: 24px;
  }

  &__item {
    width: 48px;
    height: 48px;
    display: none;
    justify-content: center;
    margin-bottom: 25px;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease-in;

    &.is-active {
      color: $brand-color-right;
    }
  }

  &__label {
    display: block;
    overflow: hidden;
    display: -webkit-box;
    font-family: $font-secondary-font;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-top: 4px;
    max-width: 60px;
    max-height: 20px;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    hyphens: auto;
  }
}
