@import "../variables";
@import "@material/top-app-bar/_mixins";

.me-filter {
  display: inline;

  &__label {
    align-self: center;
    margin: 0 6px 0 0px;
    font-weight: 400;
  }

  & .mdc-chip {
    color: $font-secondary-color;
    background-color: $background-color;
    border: 1px solid $border-color;
    font-weight: 400;
    font-size: 16px;
    text-transform: lowercase;
    @include mdc-layout-grid-media-query_("phone") {
      border: unset;
    }
  }

  & .mdc-chip-set .mdc-chip {
    margin: 4px 0;
  }

  & .mdc-chip--selected {
    color: $font-primary-color;
    background-color: $brand-color;
    border: 1px solid $brand-color;
    @include mdc-layout-grid-media-query_("phone") {
      border: unset;
    }
  }
}
