

.me-footer {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @include mobile-only {
    text-align: left;
    padding: 0 24px;
    align-items: flex-start;
    [data-controller="search"] & {
      display: none;
    }
  }


  &__logo-icon {
    position: relative;
  }

  &__links {
    margin: 12px 0 12px 0;
    font-size: 12px;
    font-family: $font-primary-family;

    & a {
      color: $font-tertiary-color;
    }

    & .manifesto {
      @include mobile-only {
        display: none;
      }
    }
  }

  &__image {
    margin: 50px 0;
    width: 100%;
    @include mobile-only {
      margin: 0 0 24px 0;
    }
  }

  &__credits {
    font-family: $font-primary-family;
    color: $font-secondary-color;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin: 24px 0 0 0;
    @include mobile-only {
      text-align: left;
      font-size: 11px;
    }

    & a {
      color: #833AB4;
      text-decoration: none;
    }
  }

  &__social {
    margin: 125px 0 75px 0;
    width: 100vw;
    max-width: 1090px;
    @include mobile-only {
      margin: 75px 0 75px 0;
    }

    &-buttons {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      text-align: center;
    }

    &-links {
      margin: 0;
      color: $brand-color;
      font-family: $font-primary-family;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
      @include mobile-only {
        font-size: 11px;
        line-height: 1.6em;
      }

      & a {
        color: $brand-color;
        text-decoration: none;
        padding: 0 3px;
      }
    }

    & a {
      max-width: 85%;
      // margin: auto;
      transition: transform 0.35s ease;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

      &:hover {
        transform: scale(0.95);
      }
    }

    & img, picture {
      max-width: 100%;
      @include mobile-only {
        margin: 6px auto;
      }
    }

    & h2 {
      font-family: $font-primary-family;
      font-weight: bold;
      font-size: 38px;
      line-height: 1.2em;
      margin: 0 auto 50px auto;
      padding: 0;
      text-align: center;
      @include mobile-only {
        font-size: 31px;
        line-height: 0;
        margin: 65px auto 0 auto;
        height: 50px;
      }
    }
  }

  &__vamodale {
    color: $font-tertiary-color;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    margin:6px 0 24px 0;
  }

  &__credits, &__vamodale {
    @include mobile-only {
      display: none;
    }
  }

  &--feeds {

    @include mobile-only {
      padding: 0 24px 62px 24px;
    }
  }
}
