@import '@material/card/_mixins';
@import '@material/layout-grid/_mixins';
@import '../_variables';

$name-color: $font-primary-color;
$description-color: $font-secondary-color;

$mdc-layout-grid-columns: (
desktop: 15,
tablet: 8,
phone: 4
);

.me-feed {

  &__section {
    margin: 0 0 120px 0;
  }

  &__divider {
    width: 100px;
    height: 2px;
    background: $brand-color;
    border-radius: 1px;
    margin: 12px 0 26px 0;
  }

  & .mdc-layout-grid {
    --mdc-layout-grid-margin-desktop: 0;
    --mdc-layout-grid-gutter-desktop: 8px;
    & a {
        text-decoration: none;
    }
  }

  & .mdc-layout-grid__inner {
    @include mdc-layout-grid-inner($size: 'desktop', $margin: 0, $gutter: 15px);
  }

  & .me-card {
    font-size: 14px;
    border: 0;
    box-shadow: none;
    background: none;
    position: relative;
    @include mdc-card-shape-radius($radius: 0, $rtl-reflexive: false);

    & .mdc-typography--headline1 {
      color: $font-primary-color;
    }

    & .mdc-typography--headline2 {
      margin: 0 0 6px 0;
    }

    & .mdc-typography--subtitle2 {
      margin: 0 0 6px 0;
    }

    & .mdc-card__primary-action {
      padding: 6px 0 6px 0;

      &:hover {
        background: inherit;
      }
    }

    & .mdc-card__title {
      color: $name-color;
      font-size: 14px;
      line-height: 18px;
      margin: 6px 0 0 0;
      font-family: Roboto;
      font-weight: 400;
    }

    & .mdc-card__actions {
      padding: 0;
    }

    & .mdc-card__media {
      transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
    }

    &:hover {
      & .mdc-card__media {
        transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 2px;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
      }
    }
  }

}
