@import '../_mixins';
@import '../_variables';

.me-icon {
  background: $icon-background-color;
  border-radius: 30px;
  padding: 6px;
  cursor: pointer;

  &__group {
    display: flex;

    & > .me-icon {
      margin-left: 6px;
    }
  }

  &:hover {
    & .iron-icon {
      fill: $brand-color;
    }
    //background: $background-color;
  }


  &--off {
    opacity: 0.150;
    pointer-events: none;
  }

}
