@import '../_mixins';
@import '../_variables';

.me-icon {
  background: $icon-background-color;
  border-radius: 30px;
  padding: 6px;
  cursor: pointer;

  &__group {
    display: flex;

    & > .me-icon {
      margin-left: 6px;
    }
  }

  &:hover {
    & .iron-icon {
      fill: $brand-color-left;
    }
    //background: $background-color;
  }

  &--scroll-left, &--scroll-right {
    width: 48px;
    height: 48px;
    z-index: 2;
    padding: 12px;
    transition: opacity 0.4s ease;

    & .iron-icon {
      fill: $font-primary-color;
    }
  }

  &--off {
    opacity: 0.150;
    pointer-events: none;
  }

}
