.me-notification {
  //padding: 16px 12px;
  //margin: 24px 0 0 0;
  //border-radius: 10px;
  //box-shadow: 0 0 50px #00000012;
  @include mobile-only {
    padding: 0 24px;
    //margin: 6px 0 6px 0;
    //box-shadow: 0 0 10px #00000012;
  }

  & label {
    padding: 0 12px;
    @include mobile-only {
      font-size: 13px;
    }

    & span {
      opacity: 0.6;
      padding: 0 6px;
    }
  }

  &[data-notification-active="true"] {
    margin: 0;
    //padding: 18px 0;
    box-shadow: none;
    color: $font-tertiary-color;
    @include mobile-only {
      padding: 6px $section-padding-phone;
    }

    & label span {
      display: none;
    }
  }
}
