
@import "@material/textfield/_mixins";

$icon-color: #616161;
$border-color: #e0e0e0;
$field-height: 50px;

.me-search-field {
  align-self: center;
  width: 100%;
  height: $field-height;
  border-radius: 8px;
  transition: height 0.2s linear;
  padding: 0 12px;
  margin: auto;
  @include mobile-only {
    border-radius: 6px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.35);
    [data-controller="search"] & {
      width: 100%;
    }
  }

  & form {
    display: flex;
    align-items: center;
  }

  & .material-icons {
    vertical-align: middle;
    @include mobile-only {
      display: none;
    }
  }

  &.mdc-text-field--focused {
    @include mdc-text-field-label-color($color: $font-primary-color);
    @include mdc-text-field-caret-color($color: $font-primary-color);
  }

  & .mdc-text-field__input {
    caret-color: $font-primary-color;
    font-size: 16px;
    padding: 0 12px;
    box-sizing: border-box;
    height: $field-height;
    font-weight: 400;
    outline: none;
    background: transparent;
    border: 1px solid transparent;
    transition: border 0.1s ease-out;
    border-bottom-color: transparent !important;
    align-self: baseline;
    @include mobile-only {
      padding: 0 6px;
      font-size: 13px;
      font-weight: 400;
    }
  }



}
