@import "../_variables";
@import "@material/textfield/_mixins";

$icon-color: #616161;
$border-color: #e0e0e0;
$field-height: 44px;

.me-search-field {
  align-self: center;
  width: 70%;
  height: $field-height;
  border-radius: 0;
  transition: height 0.2s linear;
  padding: 0 12px;
  margin: auto;
  @include mdc-layout-grid-media-query_("phone") {
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    [data-controller="search"] & {
      width: 100%;
    }
  }

  & form {
    display: flex;
    align-items: center;
  }

  & .material-icons {
    vertical-align: middle;
  }

  &.mdc-text-field--focused {
    @include mdc-text-field-label-color($color: $font-primary-color);
    @include mdc-text-field-caret-color($color: $font-primary-color);
  }

  & .mdc-text-field__input {
    caret-color: $font-primary-color;
    font-size: 16px;
    padding: 0 12px;
    box-sizing: border-box;
    height: $field-height;
    font-weight: 400;
    outline: none;
    background: transparent;
    border: 1px solid transparent;
    transition: border 0.1s ease-out;
    border-bottom-color: transparent !important;
    align-self: baseline;
    @include mdc-layout-grid-media-query_("phone") {
      padding: 0 12px;
      font-size: 13px;
      font-weight: 400;
    }
  }



}
