@import "variables";

.me-similar {
  grid-column: 15 span;
  display: grid;
  margin: 0 0 12px 0;
  //grid-gap: 0 12px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  height: auto;
  min-height: 260px;

  &__events {
    grid-column: 12 span;
    display: grid;
    margin: 6px 0 12px 0;
    grid-gap: var(--mdc-layout-grid-gutter-desktop, 15px);
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  &__organizers {
    //margin: 6px 0 12px 0;
    grid-column-end: 12 span;
    justify-self: left;
    animation-name: show-in;
    animation-duration: 1s;
    width: 100%;

    & .mdc-chip__text {
      font-size: 11px;
    }

    & .me-follow-chip-set {
      justify-content: center;
      padding: 0 15%;
      padding-bottom: 15px;
      //border-bottom: 1px solid darken($background-color, 5%);
    }
  }

  &__empty {
    color: $font-secondary-color;
    order: 10;
    border-radius: 3px;
    grid-column-end: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 11px;
    margin: 0 0 50px 0;
    padding: 0 12px;
    border: 1px solid $border-color;

    & i {
      font-size: 1.6em;
    }
  }

  & .me-card {
    background: none;
    min-height: 150px;
    border-radius: 2px;

    &__primary-section {
      //font-size: 9px;
      //font-weight: 100;
    }

    &__secondary-section {
      font-size: 13px;

      & a {
        color: $font-secondary-color;
      }
    }

    &__like-button {

    }

    & .mdc-card__media {
      border-radius: 3px;
    }
  }

  &::before {
    content: close-quote;
    width: 100%;
    height: 260px;
    position: absolute;
    left: 0;
    animation-name: show-in;
    animation-duration: 1.5s;
    //border-bottom: 1px solid darken($surface-color, 5%);
  }

  & .mdc-layout-grid__cell--span-3, .mdc-layout-grid__cell--span-3-desktop {
    grid-column-end: span 2;
  }

  & .mdc-typography--headline6 {
    grid-column-end: 12 span;
    font-size: 16px;
    color: $font-primary-color;
    line-height: 1.2em;
    z-index: 2;
    animation-name: show-in;
    animation-duration: 1s;

    & a:hover {
      color: $font-primary-color-high-contrast;
    }
  }
}

@keyframes show-in {
  from {
    opacity: 0;
    //transform: translate(0, 25px);
  }

  to {
    opacity: 1;
    //transform: translate(0, 0);
  }
}

