@import "variables";

.me-similar {
  grid-column: 12 span;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  height: auto;
  min-height: 260px;
  padding: 10px 24px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  @include mdc-layout-grid-media-query_("phone") {
    width: auto;
    padding: 6px 0;
    margin: 0 12px 35px 12px;
  }


  & h3 {
    font-family: $font-secondary-family;
    color: $font-secondary-color;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    grid-column-end: 12 span;
    line-height: 1.2em;
    z-index: 2;
    animation-name: show-in;
    animation-duration: 1s;
    @include mdc-layout-grid-media-query_("phone") {
      font-size: 12px;
      padding: 0 12px;
    }

    & a {
      color: $font-secondary-color;
    }

    & a:hover {
      color: $font-primary-color;
    }
  }

  &__events {
    grid-column: 12 span;
    display: grid;
    margin: 6px 0 25px 0;
    grid-gap: 12px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    @include mdc-layout-grid-media-query_("phone") {
      grid-template-columns: repeat(20, minmax(18vw, 1fr));
      overflow-x: scroll;
      padding: 0 ($section-padding-phone / 2);
      margin: 6px 0 12px 0;
    }

    &::-webkit-scrollbar {
      @include mdc-layout-grid-media-query_("phone") {
        display: none;
      }
    }

    & .me-card__like-button {
      top: 2px;
      right: 2px;
    }

    & .mdc-layout-grid__cell {
      @include mdc-layout-grid-cell(
        $size: "desktop",
        $default-span: 2,
        $gutter: 16px
      );
      @include mdc-layout-grid-media-query_("phone") {
        @include mdc-layout-grid-cell(
        $size: "phone",
        $default-span: 2,
        $gutter: 12px
        );
      }
    }
  }

  &__organizers {
    //margin: 6px 0 12px 0;
    grid-column-end: 12 span;
    justify-self: left;
    animation-name: show-in;
    animation-duration: 1s;
    width: 100%;
    @include mdc-layout-grid-media-query_("phone") {
      @include add-horizontal-scroll-wrapper;
      @include no-scroll-bar;
      padding: 6px 0;
    }

    & .mdc-chip__text {
      font-size: 11px;
    }

    & .me-follow-chip-set {
      justify-content: center;
      padding: 0 15%;
      padding-bottom: 15px;
      @include mdc-layout-grid-media-query_("phone") {
        padding: 0 8px;
      }
      //border-bottom: 1px solid darken($background-color, 5%);
    }
  }

  &__topics {
    display: none;
    @include mdc-layout-grid-media-query_("phone") {
    }
  }

  &__empty {
    color: $font-secondary-color;
    order: 10;
    border-radius: 3px;
    grid-column-end: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 11px;
    margin: 0 0 50px 0;
    padding: 0 12px;
    // border: 1px solid $border-color;

    & i {
      font-size: 1.6em;
    }
  }

  & .me-card {
    background: none;
    min-height: 150px;
    border-radius: 2px;

    &__primary-section {
      font-size: 10px;
      font-weight: 500;
    }

    &__secondary-section {
      font-size: 14px;

      & a {
        color: $font-secondary-color;
      }
    }

    &__overlay {
      box-shadow: $media-box-shadow-small;
    }

    & .mdc-card__media {
      border-radius: 2px;
    }
  }

  &::before {
    content: close-quote;
    width: 100%;
    height: 260px;
    position: absolute;
    left: 0;
    animation-name: show-in;
    animation-duration: 1.5s;
    //border-bottom: 1px solid darken($surface-color, 5%);
  }

  & .mdc-layout-grid__cell--span-3, .mdc-layout-grid__cell--span-3-desktop {
    grid-column-end: span 2;
  }

}

@keyframes show-in {
  from {
    opacity: 0;
    //transform: translate(0, 25px);
  }

  to {
    opacity: 1;
    //transform: translate(0, 0);
  }
}
