@import "variables";

.me-similar {
  grid-column: 12 span;
  display: grid;
  margin: 0 0 12px 0;
  //grid-gap: 0 12px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  height: auto;
  min-height: 260px;

  &__events {
    grid-column: 12 span;
    display: grid;
    margin: 0 0 12px 0;
    grid-gap: var(--mdc-layout-grid-gutter-desktop, 15px);
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  &__organizers {
    grid-column-end: 6 span;
    justify-self: right;
    padding: 12px 0 0 0;
    animation-name: show-in;
    animation-duration: 1s;

    & .mdc-chip__text {
      font-size: 11px;
    }

    & .me-follow-chip-set {
      justify-content: flex-end;
    }
  }

  & .me-card {
    background: none;
    min-height: 150px;
    border-radius: 2px;

    &__primary-section {
      font-size: 9px;
      font-weight: 100;
    }

    &__secondary-section {
      font-size: 12px;
    }

    &__like-button {
      top: 37px;
      right: 11px;
    }

    & .mdc-card__media {
      border-radius: 3px;
    }
  }

  &::before {
    content: close-quote;
    width: 100%;
    height: 260px;
    position: absolute;
    left: 0;
    animation-name: show-in;
    animation-duration: 1.5s;
    border-bottom: 1px solid darken($surface-color, 5%);
  }

  & .mdc-layout-grid__cell--span-3, .mdc-layout-grid__cell--span-3-desktop {
    grid-column-end: span 2;
  }

  & .mdc-typography--headline6 {
    grid-column-end: 6 span;
    font-size: 16px;
    margin-block-end: -12px;
    color: $font-tertiary-color;
    line-height: 1.2em;
    z-index: 2;
    animation-name: show-in;
    animation-duration: 1s;

    & a:hover {
      color: $brand-color;
    }
  }
}

@keyframes show-in {
  from {
    opacity: 0;
    //transform: translate(0, 25px);
  }

  to {
    opacity: 1;
    //transform: translate(0, 0);
  }
}

