.me-section {
  --mdc-layout-grid-margin-phone: 0;
  --mdc-layout-grid-gutter-phone: 0 16px;
  --mdc-layout-grid-margin-desktop: 0;
  --mdc-layout-grid-gutter-desktop: 6px 24px;

  width: 100%;
  margin: 12px 0;
  padding: 24px 0;
  background: $surface-color;
  @include desktop-only {
    display: flex;
    justify-content: center;
    margin: 2px 0;
  }
  @include mobile-only {
    max-width: unset;
    padding: 18px 0;
    margin: 0 auto;
    // box-shadow: 0px 1px 0px #a0a0a029;
    //border-bottom: 5px solid $surface-tertiary-color;
  }

  &__title {
    margin: 6px 0 12px 0;
    font-weight: 500;
    //max-width: 90%;
    line-height: 1.4em;
    font-size: 24px;
    color: $font-primary-color;
    font-family: $font-primary-family;
    position: relative;
    z-index: 2;
    letter-spacing: -0.01em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile-only {
      font-size: 18px;
      font-weight: 500;
      line-height: 1em;
      padding: 0 12px 0 $section-padding-phone;
      justify-content: space-between;
    }
  }

  &__description {
    @include mobile-only {
      padding: 0 $section-padding-phone;
    }
  }

  &__inner {
    @include desktop-only {
      width: $main-content-width;
    }

    [data-controller="events"][data-action="show"] & {
      @include desktop-only {
        width: calc(100% - 48px);
      }
    }

    .me-section--full & {
      @include desktop-only {
        width: 100% !important;
      }
    }

    .me-section--with-padding & {
      padding: 0 $section-padding-phone;
    }

    .me-section--centralized & {
      max-width: 700px;
      margin: 0 auto;
    }

    .me-section--centralized-small & {
      max-width: 350px;
      margin: 0 auto;
    }
  }

  &--align-center {
    display: flex;
    align-items: center;
  }

  &--full {
    @include mobile-only {
      padding: 0;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      overflow: hidden;
    }
  }

  &--condensed {
    @include mobile-only {
      padding: 12px 0;
    }
  }

  &--full-height {
    min-height: 80vh;
  }

  &--without-padding {
    padding: 0;
  }

  .me-page &:last-child {
    box-shadow: unset;
  }

  [data-controller="events"][data-action="show"] & {
    @include desktop-only {
      margin: 12px 0;
      padding: 12px 0;
      border-radius: $media-border-radius;
    }
  }

}
