.me-swipable {
  z-index: 2;
  max-width: 420px;
  margin: 0 auto 0 auto;
  position: relative;
  //padding: 0 $section-padding-phone;
  width: auto;
  //height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include mdc-layout-grid-media-query_("phone") {
    //margin: 0 0 15px 0;
    //height: -webkit-fill-available;
    //padding: 150px 0 0 0;
  }

  &__onboarding {
    height: 100%;
    //overflow-y: scroll;
    //overflow-x: hidden;
    width: calc(40vw - 20px);
    padding: 106px 30vw;
    @include mdc-layout-grid-media-query_("phone") {
      width: calc(100vw - 64px);
      padding: 150px 24px 66px 24px;
    }

    & button {
      @include mdc-button-ink-color($surface-color);
      @include mdc-states-base-color($brand-color);
      font-family: $font-primary-family;
    }
  }

  &__items {
    transition: opacity 0.4s linear;
    max-width: 420px;
    padding: 150px 24px 66px 24px;
    @include mdc-layout-grid-media-query_("phone") {
      padding: 94px 24px 0 24px;
    }
  }

  &__question {
    margin: 0 auto 12px auto;
    line-height: 1.3em;
    text-align: center;
    @include mdc-layout-grid-media-query_("phone") {
      text-align: center;
      max-width: 88%;
    }

    & h2 {
      font-weight: 800;
      font-family: $font-primary-family;
      font-size: 24px;
      margin: 0 0 5px 0;
      line-height: 1em;
      @include mdc-layout-grid-media-query_("phone") {
        font-size: 20px;
      }
    }

    & span {
      font-size: 11px;
      font-weight: 200;
      display: block;
      line-height: 130%;
      color: $font-secondary-color;
      margin: 0 auto;
      //max-width: 80%;
    }

    &.hidden {
      display: none;
    }
  }

  &__item {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: luminosity;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    // padding: 15px 30px 15px 15px;
    @include mdc-layout-grid-media-query_("phone") {
      // padding: 15px;
    }

    &-title, &-description {
      z-index: 3;
      line-height: 1em;
    }

    &-title {
      font-size: 22px;
      font-weight: 700;
      padding: 0 15px;
      max-width: 80%;
      font-family: "Montserrat";
      @include mdc-layout-grid-media-query_("phone") {
        font-size: 20px;
        padding: 0 12px;
      }
    }

    &-description {
      font-size: 14px;
      line-height: 1.1em;
      font-weight: 400;
      padding: 0 15px 15px;
      font-family: "Varela Round";
      @include mdc-layout-grid-media-query_("phone") {
        font-size: 12px;
        padding: 3px 12px 12px;
      }
    }

    &-overlay {
      content: close-quote;
      width: inherit;
      height: inherit;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
    }
  }

  & .no-transition {
    -webkit-transition: none ! important;
    -o-transition: none ! important;
    transition: none ! important;
  }

  & .stackedcards-overflow {
    overflow-y: hidden !important;
  }

  & .stackedcards.init {
    opacity: 0; /* set the opacity to 0 if you want a fade-in effect to stacked cards on page load */
  }

  & .stackedcards {
    position: relative;
    display: inline-block;

    &.hidden {
      display: none;
    }
  }


  & .stackedcards * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  & .stackedcards--animatable {
    -webkit-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    will-change: opacity, transform;
  }

  & .stackedcards-overlay {
    & .material-icons {
      font-size: 52px;
    }
  }

  & .stackedcards .stackedcards-container > *, .stackedcards-overlay {
    position: absolute;
    width: 100%; /* set 100% */
    height: 250px; /* set 100% */
    will-change: transform, opacity;
    top: 0;
    border-radius: 12px;
    overflow: hidden;
    @include mdc-layout-grid-media-query_("phone") {
      height: 190px;
    }
  }

  & .stackedcards-overlay.left > div, .stackedcards-overlay.right > div, .stackedcards-overlay.top > div {
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  & .stackedcards-container .card-item:not(:first-child) .me-swipable__item-overlay {
    background: #c7c7c7 !important;
  }

  & .stackedcards-container .card-item:not(:first-child) .me-swipable__item {
    //background: unset !important;
  }

  & .stackedcards-overlay.left, .stackedcards-overlay.right, .stackedcards-overlay.top {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    opacity: 0;
    top: 0;
    //height: calc(100% - 24px);
    letter-spacing: 3px;
    font-size: 24px; /* this style was added only for better preview */
    text-transform: uppercase; /* this style was added only for better preview */
    font-weight: 800; /* this style was added only for better preview */
    color: #fff; /* this style was added only for better preview */
  }

  & .stackedcards-overlay.top {
    background: $maybe-color;
  }

  & .stackedcards-overlay.right {
    background: $like-color;
  }

  & .stackedcards-overlay.left {
    background: $dislike-color;
  }

  & .stackedcards-overlay.left:empty, .stackedcards-overlay.right:empty, .stackedcards-overlay.top:empty {
    display: none !important;
  }

  & .stackedcards-overlay-hidden {
    display: none;
  }

  & .stackedcards-origin-bottom {
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
  }

  & .stackedcards-origin-top {
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
  }

  & .stackedcards-bottom, .stackedcards-top, .stackedcards-none {
    background: #fff; /* set card background background */
    height: 100%;
  }

  & .stackedcards .stackedcards-container > :nth-child(1) {
    position: relative;
    display: block;
  }

  /* global actions buttons*/
  & .global-actions {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: 15px 0 0 0;
    @include mdc-layout-grid-media-query_("phone") {
      //display: none;
      margin: 15px 0 25px 0;
    }

    &.hidden {
      display: none;
    }

    & button {
      margin: auto 10px;
      display: flex;
      text-align: center;
      height: 62px;
      width: 62px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-pack: end;
      border: 1px solid #e0e0e0;
      border-radius: 100%;
      padding: 0;
      font-family: $font-secondary-family;
      justify-content: center;
      font-weight: 600;
      align-items: center;
      background: none;
      @include mdc-button-ink-color($font-tertiary-color);
      //@include mdc-button-outline-color($font-secondary-color)
    }

    & .mdc-button__icon {
      @include mdc-button-ink-color($font-tertiary-color);
      @include mdc-states-base-color($border-color);
    }
  }

  //& .right-action {
  //  //@include mdc-button-ink-color($like-color);
  //  //@include mdc-states-base-color($like-color);
  //}
  //
  //& .top-action {
  //  @include mdc-button-ink-color($border-color);
  //  @include mdc-states-base-color($border-color);
  //}
  //
  //& .left-action {
  //  //@include mdc-button-ink-color($dislike-color);
  //  //@include mdc-states-base-color($dislike-color);
  //}


  /* elements on stacked cards */
  & .card-item {
    background: #d6d6d6;
    box-shadow: $media-box-shadow-large;
  }

  & .final-state {
    transition: opacity 0.4s linear;
    text-align: center;
    max-width: 300px;
  }

  & .final-state.active {
    opacity: 1;
  }

  & .final-state.hidden {
    opacity: 0;
    display: none;
  }

  & .mdc-button__icon {
    margin: 0;
    width: auto;
    font-size: 22px;
    height: auto;
  }

  & .mdc-button__label {
    font-size: 9px;
    height: auto;
  }
}
