@import "@material/card/_mixins";
@import "../_mixins";
@import "../variables";

$gutter: 6px;

.me-saves {
  position: relative;
  margin-bottom: 50px;
  @include mdc-layout-grid-media-query_("phone") {
    display: none;
  }

  &__list {
    &::before {
      content: close-quote;
      background: linear-gradient(to left, transparent, $background-color);
      width: 126px;
      height: 90%;
      position: absolute;
      left: 0;
      z-index: 1;
      top: 35px;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.1s linear;
    }

    &::after {
      content: close-quote;
      background: linear-gradient(to right, transparent, $background-color);
      width: 126px;
      height: 90%;
      position: absolute;
      right: 0;
      z-index: 1;
      top: 35px;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.1s linear;
    }

    &--at-initital {
      &.me-saves__list::before {
        opacity: 1;
      }
    }

    &--at-end {
      &.me-saves__list::after {
        opacity: 1;
      }
    }
  }

  &__empty {
    color: $font-secondary-color;
    order: 10;
    border-radius: 3px;
    grid-column-end: span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 11px;
    margin: 26px 0 55px 0;
    padding: 0 12px;
    border: 1px solid $border-color;

    & i {
      font-size: 1.6em;
    }
  }

  & .material-icons {
    vertical-align: middle;
    font-size: 21px;
  }

  & .mdc-typography--headline6 {
    margin: 0;
    font-size: 1.3em;
    font-weight: 800;
  }

  & .mdc-layout-grid {
    --mdc-layout-grid-margin-desktop: 0;
    --mdc-layout-grid-gutter-desktop: 8px;
    @include add-horizontal-scroll();
    @include no-scroll-bar();
  }

  & .mdc-layout-grid__inner {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: inherit;
    grid-template-rows: minmax(150px, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 54px;
    padding-bottom: calc(0.75 * #{$gutter});
    margin-bottom: calc(-0.25 * #{$gutter});
    // @include add-horizontal-scroll();
  }

  & .mdc-layout-grid__cell--span-2 {
    scroll-snap-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    width: auto;
  }

  & .me-card {
    min-height: 132px;
    cursor: pointer;
    font-size: 11px;
    border: 0;
    box-shadow: none;
    background-color: inherit;
    @include mdc-card-shape-radius($radius: 0, $rtl-reflexive: false);

    &__title,
    &__date {
      pointer-events: none;
      margin: 3px 0 0 0;
      line-height: 1.1em;
      color: $font-secondary-color;

      &:hover {
        background: inherit;
      }
    }

    &__title {
      color: $font-primary-color;
      font-size: 13px;
      margin: 12px 0 0 0;
      font-weight: 400;
      padding-right: 6px;
    }

    &__date {
      color: $font-secondary-color;
      text-transform: uppercase;
      font-size: 11px;
      margin: 8px 0 6px 0;
      font-weight: 800;
      min-height: 1.1em;
    }

    &__remove {
      background: $icon-background-color;
      position: absolute;
      top: 29px;
      right: 3px;
      width: 16px;
      height: 16px;
      cursor: pointer;
      display: none;
      z-index: 1;
      border-radius: 100%;
    }

    & .mdc-card__media {
      border-radius: 3px;
      overflow: hidden;
      //transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: $media-box-shadow;

      &:hover {
        //box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.24);
      }
    }
  }

  & .me-icon__group {
    position: absolute;
    right: 0;
    top: 0;
  }
}