
.me-text-field {
  @include mdc-text-field-ink-color($font-primary-color);
  @include mdc-text-field-label-color($font-secondary-color);
  @include mdc-text-field-focused-outline-color($brand-color);

  &.mdc-text-field--outlined.mdc-text-field--dense .mdc-floating-label--float-above{
    color: $brand-color;
  }

  &__container {
    margin: 25px 0;
  }

  &--fullwidth {
    width: 100%;

    & .mdc-text-field {
      width: 100%;
    }

    & .mdc-floating-label {
      // max-width: 200px;
    }
  }

}
