@import '../_variables';
@import '@material/top-app-bar/_mixins';

$fill-color: #ffffff;
$font-color: $font-primary-color;
$border-color: #e0e0e0;

.me-top-app-bar {
  background-color: $fill-color;
  color: $font-color;
  border-bottom: 1px solid $border-color;
  position: fixed;

  &__logo {
    height: 30px;
    display: flex;

    @include mdc-layout-grid-media-query_("phone") {
      
    }
  }

  & .mdc-top-app-bar__navigation-icon {
    color: $font-color;
  }

  & .mdc-top-app-bar__section {
    width: calc(100% / 3);
  }
}
