@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";

.me-tab-bar {
  @include mdc-tab-bar-density(-3);
  background: $surface-color;
  display: block;
  width: auto;
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: 0 0 3px #00000030;
  @include desktop-only {
    z-index: 2;
    padding: 0 0 0 73px;
    top: 64px;
  }
  @include mobile-only {
    @include mdc-tab-bar-density(-1);
    top: 0;
  }

  & .mdc-tab {
    width: auto;
    // max-width: 100px;
    @include desktop-only {

    }
  }

  & .mdc-tab-scroller {
    @include desktop-only {
      width: max-content;
      //margin: auto;
    }
  }

  & .mdc-tab__text-label {
    font-size: 12px;
    letter-spacing: 0.3px;
    font-weight: 600;
  }

  & .mdc-tab-scroller__scroll-content {
    flex: initial;
  }

  & .mdc-tab-indicator__content {
    border-top-width: 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

}
