@import "../_variables";
@import "@material/top-app-bar/_mixins";

$fill-color: #ffffff;
$font-color: $font-primary-color;
$border-color: #e0e0e0;

.me-top-app-bar {
  background-color: $fill-color;
  color: $font-color;
  position: fixed;
  border-bottom: 1px solid $border-color;
  top: 0;

  @include mdc-layout-grid-media-query_("phone") {
    background-color: $background-color;
    border-bottom: 0;

    &.mdc-top-app-bar--fixed-scrolled {
      background-color: $background-color;
      box-shadow: unset;
    }
  }

  &__logo {
    display: flex;
    height: 22px;

    @include mdc-layout-grid-media-query_("phone") {
      // position: relative;
      // margin: auto;
      // justify-self: center;
      // left: -24px;
    }
  }

  &__title {}

  &__section {
    flex: 1 1 0;

    &--left {
      @include mdc-layout-grid-media-query_("phone") {
        display: none;
      }
    }

    &--middle {
      display: flex;
      width: 920px;
      flex: none;

      @include mdc-layout-grid-media-query_("phone") {
        padding: 8px 12px;
        flex: 1 1 0;
      }
    }

    &--right {
      @include mdc-layout-grid-media-query_("phone") {
        display: none;
      }
    }
  }

  &__back-button {
    cursor: pointer;
  }

  &--events {
    @include mdc-layout-grid-media-query_("phone") {
      background-color: $fill-color;
      height: 55px;
      border-bottom: 1px solid $border-color;
    }

    & .me-top-app-bar__section--middle {
      @include mdc-layout-grid-media-query_("phone") {
        padding: 0px 12px;
      }
    }

    & .me-top-app-bar__title {
      & object {
        height: 26px;
      }

      @include mdc-layout-grid-media-query_("phone") {
        // position: relative;
        // margin: auto;
        // justify-self: center;
        // left: -24px;
      }
    }
  }

  &--bot-on {
    @include mdc-layout-grid-media-query_("phone") {
      padding: 0;
      margin: 0;
    }
  }

  & .mdc-top-app-bar__row {
    padding: 0 12px;
    @include mdc-layout-grid-media-query_("phone") {
      height: 65px;
    }
  }

  & .mdc-top-app-bar__navigation-icon {
    color: $font-color;
  }

  & .mdc-text-field:not(.mdc-text-field--disabled) {
    background-color: $surface-color;

    @include mdc-layout-grid-media-query_("phone") {
      background-color: $surface-color;
    }

    & .mdc-text-field--focused {
      box-shadow: none;
    }
  }
}