@import '@material/top-app-bar/_mixins';

$fill-color: #ffffff;
$font-color: #212121;
$border-color: #e0e0e0;

.me-top-app-bar {
  background-color: $fill-color;
  color: $font-color;
  border-bottom: 1px solid $border-color;
  position: fixed;

  & .mdc-top-app-bar__navigation-icon {
    color: $font-color;
  }
}
