@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";

.me-tab-bar {
  @include mdc-tab-bar-density(-3);
  background: $surface-color;
  display: block;
  width: auto;
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: 0px 0px 1px 0px #0a0a0a99;
  will-change: box-shadow;
  transition: 250ms box-shadow ease;
  // @include mdc-tab-states-color(#ffffff);
  @include desktop-only {
    z-index: 3;
    padding: 0 0 0 73px;
    top: 64px;
  }
  @include mobile-only {
    @include mdc-tab-bar-density(-1);
    top: 0;
    margin-bottom: 1px;
  }

  &--with-shadow {
    box-shadow: 0px 1px 6px 1px #00000030;
  }

  & .mdc-tab {
    width: auto;
    @include mdc-tab-states-color(#ffffff);
    // max-width: 100px;
    @include desktop-only {

    }
  }

  & .mdc-tab-scroller {
    @include desktop-only {
      width: max-content;
      //margin: auto;
    }
  }

  & .mdc-tab__text-label {
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 500;
    text-transform: none;
  }

  & .mdc-tab-indicator__content {
    max-width: 30px;
    border-top-width: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

}
