@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";

.me-tab-bar {
  @include mdc-tab-bar-density(-4);
  // border-bottom: 5px solid $surface-tertiary-color;
  background: $surface-color;
  margin: 0 0 6px 0;
  display: inline-block;
  @include desktop-only {
    margin: 0 0 24px 0;
  }
  @include mobile-only {
    @include mdc-tab-bar-density(-2);
  }

  & .mdc-tab {
    @include desktop-only {
      max-width: 100px;
    }
  }

  & .mdc-tab-scroller {
    @include desktop-only {
      width: 1050px;
      margin: auto;
    }
  }

  & .mdc-tab__text-label {
    text-transform: capitalize;
    font-size: 12px;
    letter-spacing: 0.3px;
    font-weight: 600;
  }

}
