.me-user-suggestions {
  .me-collection__title-custom & {
    padding: 0 0 12px 0;
  }

  &__inner {
    display: grid;
    grid-template-columns: minmax(40px, 1fr);
    grid-auto-flow: column;
    grid-gap: 0 12px;
    padding: 0 24px;
    width: max-content;
  }

  &__user {
    width: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    .me-collection__title-custom & {
      width: 36px;
    }
  }

  &__picture {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
    background-color: $surface-secondary-color;
    background-size: cover;
    .me-collection__title-custom & {
      width: 36px;
      height: 36px;
    }
    & img {
      width: 100%;
      height: auto;
    }
  }

  &__name {
    font-family: $font-primary-family;
    color: $font-secondary-color;
    font-weight: 600;
    font-size: 10px;
    margin: 3px 0 0 0;
  }
}
