.me-user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  &.me-section {
    padding: 24px 0;
  }

  &__picture {
    border-radius: 100%;
    width: 80px;
    height: 80px;
  }

  &__name {
    font-size: 26px;
    font-weight: 900;
    margin: 12px 0 0 0;
    font-family: $font-primary-family;
  }

  &__follow-button {
    margin: 12px 0 0 0;
  }

  &__follow-counter {
    margin: 6px 0 0 0;
    font-size: 10px;
  }

  &__followers {
    margin: 12px 0 0 0;
  }
}
