.me-user-suggestions {
  .me-collection__title-custom & {
    padding: 0 0 12px 0;
  }

  &--empty {
    //pointer-events: none;
    user-select: none;
    position: relative;
  }

  &__inner {
    display: grid;
    grid-template-columns: inherit;
    grid-auto-columns: 50px;
    grid-auto-flow: column;
    grid-gap: 0 12px;
    padding: 0 24px;
    @include add-horizontal-scroll-wrapper;
    @include no-scroll-bar;
    @include desktop-only {
      padding: 0;
    }
    .me-collection__title-custom & {
      grid-template-columns: 36px 36px;
    }
  }

  &__user {
    width: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include add-horizontal-scroll-items;

    .me-collection__title-custom & {
      width: 36px;
    }
  }

  &__picture {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
    background-color: $surface-secondary-color;
    background-size: cover;

    .me-collection__title-custom & {
      width: 36px;
      height: 36px;
    }

    & img {
      width: 100%;
      height: auto;
    }
  }

  &__name {
    font-family: $font-primary-family;
    color: $font-secondary-color;
    font-weight: 600;
    font-size: 10px;
    margin: 3px 0 0 0;

    .me-user-suggestions--empty & {
      font-size: 7px;
      color: $surface-secondary-color;
      background-color: $surface-secondary-color;
    }
  }

  &__info {
    .me-user-suggestions--empty & {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include is-empty;
    }
  }

  & span {
    .me-user-suggestions--empty & {
      background: white;
      padding: 6px 10px;
      border-radius: 12px;
    }
  }
}
