
.grid-after-margin::after {
  content: close-quote;
  width: 12px;
  position: relative;
  order: 1000;
}


.scrollx {
  -ms-overflow-style: none;
  scrollbar-width: none;
  @apply overflow-x-scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tap-highlight-none {
  -webkit-tap-highlight-color: transparent;
}


@responsive {
  .bg-x-white-to-transparent {
    background-image: linear-gradient(to right, theme('colors.white'), theme('colors.transparent'));
  }

  .bg-x-transparent-to-white {
    background-image: linear-gradient(to left, theme('colors.white'), theme('colors.transparent'));
  }

  .bg-y-black-to-transparent {
    background-image: linear-gradient(to top, theme('colors.black'), theme('colors.transparent'));
  }

  .bg-y-transparent-to-black {
    background-image: linear-gradient(to top, theme('colors.black'), theme('colors.transparent'));
  }

  .bg-blend-multiply {
    background-blend-mode: multiply;
  }

  .grid-max-content {
    grid-template-columns: max-content;
  }

  .content-visibility-auto {
    content-visibility: auto;
  }

  .contain-intrinsic-size-md {
    contain-intrinsic-size: 250px;
  }

  .contain-intrinsic-size-lg {
    contain-intrinsic-size: 500px;
  }

  .hide-scrollbar {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.ripple {
  ripple {
    @apply opacity-0 z-40 absolute rounded-full;
  }
}

@keyframes ripple-white {
  from {
    opacity: 0.32;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(12);
  }
}

.ripple-white {
  ripple {
    @apply bg-white;
    animation: ripple-white 850ms;
  }
}

@keyframes ripple-black {
  from {
    opacity: 0.16;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(12);
  }
}

.ripple-black {
  ripple {
    @apply bg-black;
    animation: ripple-black 850ms;
  }
}

.will-change {
  will-change: transform, opacity;
}

.text-with-html {

  & a {
    @apply text-brand-500 underline font-semibold;
  }
}


// Pagy

.pagy-nav,
.pagy-nav-js {
  @apply flex space-x-2;
}

.pagy-nav .page a,
.pagy-nav .page.active,
.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page a,
.pagy-nav-js .page.active,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply block rounded px-3 py-1 text-sm text-gray-800 bg-gray-100;
  &:hover {
    @apply bg-brand-200 text-brand-600;
  }

  &:active {
    @apply bg-brand-600 text-white;
  }
}

.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply text-gray-400 cursor-default;
  &:hover {
    @apply text-gray-400 bg-gray-200;
  }

  &:active {
    @apply text-gray-400 bg-gray-200;
  }
}

.pagy-nav .page.active,
.pagy-nav-js .page.active {
  @apply text-brand-700 cursor-default bg-brand-200;
  &:hover {
    @apply text-brand-700 bg-brand-200;
  }

  &:active {
    @apply text-brand-700 bg-brand-200;
  }
}


.pagy-combo-nav-js {
  @apply flex max-w-max rounded-full px-3 py-1 text-sm text-gray-500 font-semibold bg-gray-200 shadow-md;
}

.pagy-combo-nav-js .pagy-combo-input {
  @apply bg-white px-2 rounded-sm
}

.pagy-combo-nav-js .page.prev,
.pagy-combo-nav-js .page.next {
  &:hover {
    @apply text-gray-800;
  }

  &:active {
    @apply text-gray-800;
  }
}

.pagy-combo-nav-js .page.prev.disabled,
.pagy-combo-nav-js .page.next.disabled {
  @apply text-gray-400 cursor-default;
}