
.grid-after-margin::after {
  content: close-quote;
  width: 12px;
  position: relative;
  order: 1000;
}


.scrollx {
  -ms-overflow-style: none;
  scrollbar-width: none;
  @apply overflow-x-scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tap-highlight-none {
  -webkit-tap-highlight-color: transparent;
}


@responsive {
  .bg-x-white-to-transparent {
    background-image: linear-gradient(to right, theme('colors.white'), theme('colors.transparent'));
  }

  .bg-x-transparent-to-white {
    background-image: linear-gradient(to left, theme('colors.white'), theme('colors.transparent'));
  }

  .bg-y-black-to-transparent {
    background-image: linear-gradient(to top, theme('colors.black'), theme('colors.transparent'));
  }

  .bg-y-transparent-to-black {
    background-image: linear-gradient(to top, theme('colors.black'), theme('colors.transparent'));
  }

  .bg-blend-multiply {
    background-blend-mode: multiply;
  }

  .grid-max-content {
    grid-template-columns: max-content;
  }

  .content-visibility-auto {
    content-visibility: auto;
  }
}

.ripple {
  ripple {
    @apply opacity-0 z-40 absolute rounded-full;
  }
}

@keyframes ripple-white {
  from {
    opacity: 0.32;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(12);
  }
}

.ripple-white {
  ripple {
    @apply bg-white;
    animation: ripple-white 850ms;
  }
}

@keyframes ripple-black {
  from {
    opacity: 0.16;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(12);
  }
}

.ripple-black {
  ripple {
    @apply bg-black;
    animation: ripple-black 850ms;
  }
}

.will-change {
  will-change: transform, opacity;
}

.text-with-html {

  & a {
    @apply text-green-500 underline font-semibold;
  }
}