@screen md {
  #train-events::after {
    content: close-quote;
    background: linear-gradient(to left,white, rgb(255 255 255 / 0%));
    width: 120px;
    height: 100%;
    position: absolute;
    right: 0;
  }
}
